In [ ]:
#################################################################################
##Importing pyodbc module                                                    ####
import pandas as  pd                                                         ####
import pyodbc as odbc                                                        ####
##connecting to your database through ODBC                                   ####
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)     ####
cursor = cnxn.cursor()                                                       ####
#################################################################################

Ttime = pd.read_sql("SELECT *  FROM mlog_test "                                                     # Database
                    "where "
                    " tgljam between '2019-04-09 10:0:00.000' and '2019-04-09 13:00:00.000' " # Filter Range Time
                    #"and namamesin = 'E011-X' "                                                     #Filter Jenis Conveyor
                    "order by tgljam desc"
                    ,cnxn)                                                    #Urutkan

#___________________________________________________________________#|
#sum_cnt_Ttime = Ttime.cntr.sum()                                    #|
#batch_max_Ttime =  max(Ttime.nobatch)                               #|
#batch_min_Ttime =  min(Ttime.nobatch)                               #|
#Output = sum_cnt_Ttime - (batch_max_Ttime)                          #|
#___________________________________________________________________#|
Ttime

Nilai output selisih (jika output |= 0 maka ada proses counting yang salah)

In [2]:
Output

-115

Daftar detail Tabel

In [27]:
Ttime.namamesin.count()

10

In [28]:
Ttime.groupby('barcode').sum()

                darireader
barcode
18998866601433          54
18998866608555          36
18998866803691          88

In [ ]:
#################################################################################
##Importing pyodbc module                                                    ####
import pandas as  pd                                                         ####
import pyodbc as odbc                                                        ####
##connecting to your database through ODBC                                   ####
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)     ####
cursor = cnxn.cursor()                                                       ####
#################################################################################

Ttime3 = pd.read_sql("SELECT *  FROM mlog2 "                                                     # Database
                    #"where tgljam between '2019-03-15 21:00:00.000' and '2019-03-16 05:00:00.000' " # Filter Range Time
                    #"and namamesin = 'Conv-X-Ws' "                                                     #Filter Jenis Conveyor
                    "order by tgljam desc"
                    ,cnxn)                                                    #Urutkan

#___________________________________________________________________#|
#sum_cnt_Ttime = Ttime.cntr.sum()                                    #|
#batch_max_Ttime =  max(Ttime.nobatch)                               #|
#\batch_min_Ttime =  min(Ttime.nobatch)                               #|
#Output = sum_cnt_Ttime - (batch_max_Ttime)                          #|
#___________________________________________________________________#|
Ttime3

In [ ]:
Ttime3.groupby('namamesin').count()

In [ ]:
#################################################################################
##Importing pyodbc module                                                    ####
import pandas as  pd                                                         ####
import pyodbc as odbc                                                        ####
##connecting to your database through ODBC                                   ####
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)     ####
cursor = cnxn.cursor()                                                       ####
#################################################################################

In = pd.read_sql("SELECT *  FROM mlog_test "                                                     # Database
                    "where tgljam between '2019-03-27 18:00:00.000' and '2019-03-27 23:00:00.000' " # Filter Range Time
                    #" where namamesin = 'ws1' "                                                     #Filter Jenis Conveyor
                    "order by tgljam desc"
                    ,cnxn)                                                    #Urutkan

#___________________________________________________________________#|
#sum_cnt_Ttime = Ttime.cntr.sum()                                    #|
#batch_max_Ttime =  max(Ttime.nobatch)                               #|
#batch_min_Ttime =  min(Ttime.nobatch)                               #|
#Output = sum_cnt_Ttime - (batch_max_Ttime)                          #|
#___________________________________________________________________#|

In [ ]:
In.groupby('namamesin').count()

In [ ]:
#################################################################################
##Importing pyodbc module                                                    ####
import pandas as  pd                                                         ####
import pyodbc as odbc                                                        ####
##connecting to your database through ODBC                                   ####
cnxn = odbc.connect('DSN=196-serv;UID=support;PWD=support', autocommit=True)     ####
cursor = cnxn.cursor()                                                       ####
#################################################################################

#Inn = pd.read_sql("SELECT *  FROM mlog2 "                                                     # Database
#                    "where tgljam between '2019-03-27 05:00:00.000' and '2019-03-27 23:00:00.000' " # Filter Range Time
 #                   #" where namamesin = 'ws1' "                                                     #Filter Jenis Conveyor
 #                   "order by tgljam desc"
  #                  ,cnxn)                                                    #Urutkan

#___________________________________________________________________#|
#sum_cnt_Ttime = Ttime.cntr.sum()                                    #|
#batch_max_Ttime =  max(Ttime.nobatch)                               #|
#batch_min_Ttime =  min(Ttime.nobatch)                               #|
#Output = sum_cnt_Ttime - (batch_max_Ttime)                          #|
#___________________________________________________________________#|

In [ ]:
Inn.groupby('namamesin').count()

In [ ]:
#################################################################################
##Importing pyodbc module                                                    ####
import pandas as  pd                                                         ####
import pyodbc as odbc                                                        ####
##connecting to your database through ODBC                                   ####
cnxn = odbc.connect('DSN=196-serv;UID=support;PWD=support', autocommit=True)     ####
cursor = cnxn.cursor()                                                       ####
#################################################################################

#Innn = pd.read_sql("SELECT *  FROM mlog "                                                     # Database
#                    "where tgljam between '2019-03-27 16:00:00.000' and '2019-03-27 23:00:00.000' " # Filter Range Time
                    #" where namamesin = 'ws1' "                                                     #Filter Jenis Conveyor
 #                   "order by tgljam desc"
 #                   ,cnxn)                                                    #Urutkan

#___________________________________________________________________#|
#sum_cnt_Ttime = Ttime.cntr.sum()                                    #|
#batch_max_Ttime =  max(Ttime.nobatch)                               #|
#batch_min_Ttime =  min(Ttime.nobatch)                               #|
#Output = sum_cnt_Ttime - (batch_max_Ttime)                          #|
#___________________________________________________________________#|

In [1]:
Innn.groupby('namamesin').count()

NameError: name 'Innn' is not defined