In [1]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [2]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [4]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [5]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [6]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [7]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [8]:
def my_function():
  print("Hello from a function")

In [9]:
my_function()

Hello from a function

In [10]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [11]:
x = lambda a : a + 10
print(x(5))

15

In [12]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [13]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [14]:
def myfunc(n):
  return lambda a : a * n

In [15]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [16]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [17]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [18]:
cars = ["Ford", "Volvo", "BMW"]

In [19]:
cars[0] = "Toyota"

In [20]:
x = len(cars) 
x

3

In [21]:
for x in cars:
  print(x)

Toyota
Volvo
BMW

In [22]:
cars.append("Honda")

In [23]:
cars

['Toyota', 'Volvo', 'BMW', 'Honda']

In [24]:
cars.remove("Volvo")

In [25]:
class MyClass:
  x = 5

In [26]:
p1 = MyClass()
print(p1.x)

5

In [27]:
MyClass.x

5

In [28]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [29]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [30]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [31]:
p1.age = 40

In [32]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [33]:
try:
  print(x)
except:
  print("An exception occurred")

BMW

In [34]:

##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip
df=pd.read_sql("SELECT *  FROM Table_SiteTest where namamesin= Conveyor V ORDER BY tgljam desc",cnxn)
df

DatabaseError: Execution failed on sql 'SELECT *  FROM Table_SiteTest where namamesin= Conveyor V ORDER BY tgljam desc': ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Incorrect syntax near 'V'. (102) (SQLExecDirectW)")

In [ ]:
df.head

In [ ]:
gp=df.groupby(['no_ip','no_seq','week_no','no_incident']).size()
gp.head()

In [ ]:
from pivottablejs import pivot_ui

pivot_ui(df)

In [ ]:
df.dtypes

In [ ]:

##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=196-serv;UID=support;PWD=support', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip
df1=pd.read_sql("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc",cnxn)

In [ ]:
df1.head()

In [ ]:
jupyter notebook --certfile=mycert.pem --keyfile mykey.key

In [ ]:
import plotly.offline as po

In [ ]:
fig = {'data': data, 'layout':layout}

In [ ]:
# pandas
import pandas as pd

# numpy
import numpy as np

# scikit learn
from sklearn import datasets

# Apply hack to hide tracebacks for presentation
#import hide_ipython_tbs

In [ ]:
iris_data = datasets.load_iris()
feature_names = [name.replace(' (cm)', '').replace(' ', '_') for name in iris_data.feature_names]
iris_df = pd.DataFrame(iris_data.data, columns=feature_names)
iris_class = iris_data.target + 1
iris_df.head()

In [ ]:
import plotly.graph_objs as go

In [ ]:
f1 = go.FigureWidget()
f1

In [ ]:
scatt1 = f1.add_scatter(x=iris_df.sepal_length, y=iris_df.petal_width)
scatt1.mode = 'markers'
scatt1.mode = 'markers'
scatt1.marker.size = 12
scatt1.marker.color = 'green'

In [ ]:
scatt1.marker.cmin = 0.5
scatt1.marker.cmax = 3.5
scatt1.marker.colorscale = [[0, 'red'], [0.33, 'red'], 
                            [0.33, 'green'], [0.67, 'green'], 
                            [0.67, 'blue'], [1.0, 'blue']]

scatt1.marker.showscale = True

In [ ]:
scatt1.marker.colorbar.ticks = 'outside'
scatt1.marker.colorbar.tickvals = [1, 2, 3]
scatt1.marker.colorbar.ticktext = iris_data.target_names.tolist()

In [ ]:
import plotly.graph_objs as go

plot([go.Scatter(x=[1, 2, 3], y=[3, 1, 6])])

In [ ]:
init_notebook_mode(connected=True)

In [ ]:
iplot([{"x": [1, 2, 3], "y": [3, 1, 6]}])

In [ ]:
import cufflinks as cf
iplot(cf.datagen.lines().iplot(asFigure=True,
                               kind='scatter',xTitle='Dates',yTitle='Returns',title='Returns'))

In [ ]:
import plotly.offline as offline
import plotly.graph_objs as go

offline.init_notebook_mode()

offline.iplot({'data': [{'y': [4, 2, 3, 4]}],
               'layout': {'title': 'Test Plot',
                          'font': dict(size=20)}},
             image='png')

In [ ]:
import plotly.figure_factory as ff

import plotly.offline as offline
import plotly.graph_objs as go

offline.init_notebook_mode()

import numpy as np

# Add histogram data
x1 = np.random.randn(200)-2  
x2 = np.random.randn(200)  
x3 = np.random.randn(200)+2  
x4 = np.random.randn(200)+4  

# Group data together
hist_data = [x1, x2, x3, x4]

group_labels = ['aa', 'Group 2', 'Group 3', 'Group 4']

# Create distplot with custom bin_size
fig = ff.create_distplot(hist_data, group_labels, bin_size=.2)

# Plot!
offline.iplot(fig, filename='Distplot with Multiple Datasets')

In [ ]:
import plotly.offline as offline
import plotly.graph_objs as go

offline.init_notebook_mode()
# Create random data with numpy
import numpy as np

random_x = resu.Time
random_y0 = resu.N6C
random_y1 = resu.N6D
random_y2 = resu.N6E
random_y3 = resu.N6F
random_y4 = resu.N6G
random_y5 = resu.N6H
random_y6 = resu.N6I
random_y7 = resu.N6J
random_y8 = resu.N7C1
random_y9 = resu.N7C2
random_y10 = resu.N7D1
random_y11 = resu.N7D2
random_y12 = resu.N7E1
random_y13 = resu.N7F1
random_y14 = resu.N7G1
random_y15 = resu.N7H1
random_y16 = resu.N7I1
random_y17 = resu.N7J1
random_y18 = resu.N7K1
random_y19 = resu.N7L1
random_y20 = resu.N7E2
random_y21 = resu.N7F2
random_y22 = resu.N7G2
random_y23 = resu.N7H2
random_y24 = resu.N7I2
random_y25 = resu.N7J2
random_y26 = resu.N7K2
random_y27 = resu.N7L2
random_y28 = resu.N8B1
random_y29 = resu.N8C1
random_y30 = resu.N8E1
random_y31 = resu.N8F1
random_y32 = resu.N8G1
random_y33 = resu.N8H1
random_y34 = resu.N8I1
random_y35 = resu.N8J1
random_y36 = resu.N8K1
random_y37 = resu.N8L1
random_y38 = resu.N8B2
random_y39 = resu.N8C2
random_y40 = resu.N8E2
random_y41 = resu.N8F2
random_y42 = resu.N8G2
random_y43 = resu.N8H2
random_y44 = resu.N8I2
random_y45 = resu.N8J2
random_y46 = resu.N8K2
random_y47 = resu.N8L2
random_y48 = resu.N9A
random_y49 = resu.N9B
random_y50 = resu.N9C
random_y51 = resu.N9D
random_y52 = resu.N9E
random_y53 = resu.N9G
random_y54 = resu.N9H
random_y55 = resu.N9I
random_y56 = resu.N9J
random_y57 = resu.N9K
random_y58 = resu.N9L

# Create traces
trace0 = go.Bar(	
	x = random_x,	
	y = random_y0,
		
	name =	'N6C'
)
trace1 = go.Bar(	
	x = random_x,	
	y = random_y1,
		
	name =	'N6D'
)
trace2 = go.Bar(	
	x = random_x,	
	y = random_y2,
		
	name =	'N6E'
)
trace3 = go.Bar(	
	x = random_x,	
	y = random_y3,
		
	name =	'N6F'
    
)
trace4 = go.Bar(	
    x = random_x,	
    y = random_y4,
    
    name =	'N6G'
)
trace5 = go.Bar(	
    x = random_x,	
    y = random_y5,
    
    name =	'N6H'
)
trace6 = go.Bar(	
    x = random_x,	
    y = random_y6,
    	
    name ='N6I'
)
trace7 = go.Bar(	
    x = random_x,	
    y = random_y7,
    	
    name =	'N6J'
)
trace8 = go.Bar(	
    x = random_x,	
    y = random_y8,
    	
    name =	'N7C1'
)
trace9 = go.Bar(	
    x = random_x,	
    y = random_y9,
    	
    name =	'N7C2'
)
trace10 = go.Bar(	
    x = random_x,	
    y = random_y10,
    	
    name =	'N7D1'
)
trace11 = go.Bar(	
    x = random_x,	
    y = random_y11,
    	
    name =	'N7D2'
)
trace12 = go.Bar(	
    x = random_x,	
    y = random_y12,
    	
    name =	'N7E1'
)
trace13 = go.Bar(	
    x = random_x,	
    y = random_y13,
    	
    name =	'N7F1'
)
trace14 = go.Bar(	
    x = random_x,	
    y = random_y14,
    
    name =	'N7G1'
)
trace15 = go.Bar(	
    x = random_x,	
    y = random_y15,
    	
    name =	'N7H1'
)
trace16 = go.Bar(	
    x = random_x,	
    y = random_y16,
    
    name =	'N7I1'
)
trace17 = go.Bar(	
    x = random_x,	
    y = random_y17,
    	
    name =	'N7J1'
)
trace18 = go.Bar(	
    x = random_x,	
    y = random_y18,
    	
    name =	'N7K1'
)
trace19 = go.Bar(	
    x = random_x,	
    y = random_y19,
    
    name =	'N7L1'
)
trace20 = go.Bar(	
    x = random_x,	
    y = random_y20,
    
    name =	'N7E2'
)
trace21 = go.Bar(	
    x = random_x,	
    y = random_y21,
    	
    name =	'N7F2'
)
trace22 = go.Bar(	
    x = random_x,	
    y = random_y22,
    	
    name =	'N7G2'
)

data = [trace0,trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12,trace13,trace14,trace15,trace16,trace17,trace18,trace19,trace20,trace21,trace22]

layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
offline.iplot(fig, filename='grouped-bar')

In [ ]:
resu = pd.read_csv('resu.csv')

In [ ]:
resu

In [ ]:
resu['Time'] = pd.to_datetime(resu['Time'])

In [ ]:
resu[resu['Time'] == pd.datetime(2018,11,7)]

In [ ]:
random_x = np.linspace(0, 1, N)

In [ ]:
resu.Time

In [ ]:
import plotly.offline as offline
import plotly.graph_objs as go

trace1 = go.Bar(
    x=['giraffes', 'orangutans', 'monkeys'],
    y=[20, 14, 23],
    name='SF Zoo'
)
trace2 = go.PieChart(
    x=['giraffes', 'orangutans', 'monkeys'],
    y=[12, 18, 29],
    name='LA Zoo'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group',
    title = 'aa'
)

fig = go.Figure(data=data, layout=layout)
offline.iplot(data, filename= "Beruang-Madu")

In [ ]:
import plotly.offline as offline
import plotly.graph_objs as go

offline.init_notebook_mode()

offline.iplot({'data': [{'y': [4, 2, 3, 4]}],
               'layout': {'title': 'Test Plot',
                          'font': dict(size=16)}},
             image='png')

In [ ]:
#################################################################################
##Importing pyodbc module                                                    ####
import pandas as  pd                                                         ####
import pyodbc as odbc                                                        ####
##connecting to your database through ODBC                                   ####
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)     ####
cursor = cnxn.cursor()                                                       ####
#################################################################################

In = pd.read_sql("SELECT *  FROM mlog_test "                                                     # Database
                    #"where tgljam between '2019-03-15 21:00:00.000' and '2019-03-16 05:00:00.000' " # Filter Range Time
                    #"and namamesin = 'Conv-X-Ws' "                                                     #Filter Jenis Conveyor
                    "order by tgljam desc"
                    ,cnxn)                                                    #Urutkan

#___________________________________________________________________#|
#sum_cnt_Ttime = Ttime.cntr.sum()                                    #|
#batch_max_Ttime =  max(Ttime.nobatch)                               #|
#batch_min_Ttime =  min(Ttime.nobatch)                               #|
#Output = sum_cnt_Ttime - (batch_max_Ttime)                          #|
#___________________________________________________________________#|