In [324]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [325]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [98]:
check = pd.read_sql ("select top 1500 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.1' "
                     "or noip = '172.20.47.2'"
                     "or noip = '172.20.47.3'"
                     "or noip = '172.20.47.4'"
                     "or noip = '172.20.47.5'"
                     "or noip = '172.20.47.6'"
                     "or noip = '172.20.47.7'"
                     "or noip = '172.20.47.8'"
                     "or noip = '172.20.47.9'"
                     "or noip = '172.20.47.10'"
                     "or noip = '172.20.47.11'"
                     "or noip = '172.20.47.12'"
                     "or noip = '172.20.47.13'"
                     "or noip = '172.20.47.14'"
                     "or noip = '172.20.47.15'"
                     "or noip = '172.20.47.16'"
                     "or noip = '172.20.47.17'"
                     "or noip = '172.20.47.18'"
                     "or noip = '172.20.47.19'"
                     "or noip = '172.20.47.20'"
                     "or noip = '172.20.47.21'"
                     "or noip = '172.20.47.22'"
                     "or noip = '172.20.47.23'"
                     "or noip = '172.20.47.24'"
                     "or noip = '172.20.47.25'"
                     "or noip = '172.20.47.26'"
                     "or noip = '172.20.47.27'"
                     "or noip = '172.20.47.28'"
                     "or noip = '172.20.47.29'"
                     "or noip = '172.20.47.30'"
                     "or noip = '172.20.47.31'"
                     "or noip = '172.20.47.32'"
                     "or noip = '172.20.47.33'"
                     "or noip = '172.20.47.34'"
                     "or noip = '172.20.47.35'"
                     "or noip = '172.20.47.36'"
                     "or noip = '172.20.47.37'"
                     "or noip = '172.20.47.38'"
                     "or noip = '172.20.47.39'"
                     "or noip = '172.20.47.40'"
                     "or noip = '172.20.47.41'"
                     "or noip = '172.20.47.42'"
                     "or noip = '172.20.47.43'"
                     "or noip = '172.20.47.44'"
                     "or noip = '172.20.47.45'"
                     "or noip = '172.20.47.46'"
                     "or noip = '172.20.47.47'"
                     "or noip = '172.20.47.48'"
                     "or noip = '172.20.47.49'"
                     "or noip = '172.20.47.50'"
                     "or noip = '172.20.47.51'"
                     "or noip = '172.20.47.52'"
                     "or noip = '172.20.47.53'"
                     "or noip = '172.20.47.54'"
                     "or noip = '172.20.47.55'"
                     "or noip = '172.20.47.56'"
                     "or noip = '172.20.47.57'"
                     "or noip = '172.20.47.58'"
                     "or noip = '172.20.47.59'"
                     "or noip = '172.20.47.60'"
                     "or noip = '172.20.47.61'"
                     "or noip = '172.20.47.62'"
                     "or noip = '172.20.47.63'"
                     "or noip = '172.20.47.64'"
                     "or noip = '172.20.47.65'"
                     "or noip = '172.20.47.66'"
                     "or noip = '172.20.47.67'"
                     "or noip = '172.20.47.68'"
                     "or noip = '172.20.47.69'"
                     "or noip = '172.20.47.70'"
                     "or noip = '172.20.47.71'"
                     "or noip = '172.20.47.72'"
                     "or noip = '172.20.47.73'"
                     "or noip = '172.20.47.74'"
                     "or noip = '172.20.47.75'"
                     "or noip = '172.20.47.76'"
                     "or noip = '172.20.47.77'"
                     "or noip = '172.20.47.78'"
                     "or noip = '172.20.47.79'"
                     "or noip = '172.20.47.80'"
                     "or noip = '172.20.47.81'"
                     "or noip = '172.20.47.82'"
                     "or noip = '172.20.47.83'"
                     "or noip = '172.20.47.84'"
                     "or noip = '172.20.47.85'"
                     "or noip = '172.20.47.86'"
                     "or noip = '172.20.47.87'"
                     "or noip = '172.20.47.88'"
                     "or noip = '172.20.47.89'"
                     "or noip = '172.20.47.90'"
                     "or noip = '172.20.47.91'"
                     "or noip = '172.20.47.92'"
                     "or noip = '172.20.47.93'"
                     "or noip = '172.20.47.94'"
                     "or noip = '172.20.47.95'"
                     "or noip = '172.20.47.150'"
                     "or noip = '172.20.47.151'"
                     "or noip = '172.20.47.152'"
                     "or noip = '172.20.47.155'"
                     "or noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)

check.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\pmcheck.xlsx', index = False)
check.kwh_totalizer.max()
#check.head(60)

12168900.0

In [99]:
check.head()
check.kwh_totalizer[1]

7261932.0

In [12]:
moffice = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.30'"
                     "order by tgljam desc"
                     , cnxn)
moffice

mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6


#moffice['cntprbs'] = moffice ['cntpr']
moffice['selisih'] = mv6 ['kwh_perhari'] - moffice ['kwh_perhari']
moffice


zbz3 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.00'"
                     "order by tgljam desc"
                     , cnxn)
zbz3

mdp1 = pd.read_sql ("select top 100* from pm_perhari "
                     "where  "
                     " noip = '172.20.47.150_'"
                     "order by tgljam desc"
                     , cnxn)


#mdp1.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\mdp6.xlsx', index = False)

In [690]:
t ="'172.20.47.30'"
mdp1x = pd.read_sql ("select [tgljam],[noip],[kwh_perhari],[kwh_totalizer] from pm_perhari "
                     "where  "
                     " noip = "+t+" "
                     "and tgljam between '2021-07-01 00:01:11.540' and '2021-07-31 07:01:11.540'"
                     "order by tgljam desc"
                     , cnxn)

#mdp1x['hasil'] = mdp1x.kwh_totalizer[1] + mdp1x.kwh_perhari[0]
#mdp1x.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)

te = mdp1x.kwh_perhari.count()

i = 0 
flaw1 = mdp1x
bad_list1 = []
timdel1 = []
for i in range (te):
    if i < (te-1):
        calcu1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1] - flaw1.kwh_perhari[i]
        bad_list1.append (calcu1)        
        blist_frame1 = pd.DataFrame(data=bad_list1)
        
        tdel1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1]
        timdel1.append (tdel1)        
        timdel1_frame1 = pd.DataFrame(data=timdel1)
        
flaw1['selisih'] = abs(blist_frame1)
flaw1['harusnya']  = timdel1_frame1
show_result1 = flaw1[((flaw1['selisih'])>1)]
show_result1

,tgljam,noip,kwh_perhari,kwh_totalizer,selisih,harusnya
13,2021-07-18 06:01:05.087,172.20.47.30,8628.524,7890.424,999999.0,-991370.476

In [689]:
#Sample insert query
count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '10825.430' "
                       "where tgljam = '2021-07-29 06:01:12.257' "
                       " and noip = "+t+"")
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: <pyodbc.Cursor object at 0x000002779079FCB0>

In [62]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

In [692]:
c11 = pd.read_sql ("select top 60 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.30' "
                     "order by tgljam desc"
                     , cnxn)
#c11.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)
c11.head()

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-08-04 06:01:16.323,MDP6,Head Office,172.20.47.30,PM1000,11138.390,8905.781,2232.609,165292.7
1,2021-08-03 06:01:15.617,MDP6,Head Office,172.20.47.30,PM1000,10868.860,8692.531,2176.328,154154.3
2,2021-08-02 06:01:14.920,MDP6,Head Office,172.20.47.30,PM1000,5390.141,4041.844,1348.297,143285.5
3,2021-08-01 06:01:14.393,MDP6,Head Office,172.20.47.30,PM1000,8633.047,7131.156,1501.891,137895.3
4,2021-07-31 06:01:13.857,MDP6,Head Office,172.20.47.30,PM1000,11064.280,8900.719,2163.563,129262.3

In [ ]:
j=0