In [1]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [2]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [5]:
check = pd.read_sql ("select top 1000 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.1' "
                     "or noip = '172.20.47.2'"
                     "or noip = '172.20.47.3'"
                     "or noip = '172.20.47.4'"
                     "or noip = '172.20.47.5'"
                     "or noip = '172.20.47.6'"
                     "or noip = '172.20.47.7'"
                     "or noip = '172.20.47.8'"
                     "or noip = '172.20.47.9'"
                     "or noip = '172.20.47.10'"
                     "or noip = '172.20.47.11'"
                     "or noip = '172.20.47.12'"
                     "or noip = '172.20.47.13'"
                     "or noip = '172.20.47.14'"
                     "or noip = '172.20.47.15'"
                     "or noip = '172.20.47.16'"
                     "or noip = '172.20.47.17'"
                     "or noip = '172.20.47.18'"
                     "or noip = '172.20.47.19'"
                     "or noip = '172.20.47.20'"
                     "or noip = '172.20.47.21'"
                     "or noip = '172.20.47.22'"
                     "or noip = '172.20.47.23'"
                     "or noip = '172.20.47.24'"
                     "or noip = '172.20.47.25'"
                     "or noip = '172.20.47.26'"
                     "or noip = '172.20.47.27'"
                     "or noip = '172.20.47.28'"
                     "or noip = '172.20.47.29'"
                     "or noip = '172.20.47.30'"
                     "or noip = '172.20.47.31'"
                     "or noip = '172.20.47.32'"
                     "or noip = '172.20.47.33'"
                     "or noip = '172.20.47.34'"
                     "or noip = '172.20.47.35'"
                     "or noip = '172.20.47.36'"
                     "or noip = '172.20.47.37'"
                     "or noip = '172.20.47.38'"
                     "or noip = '172.20.47.39'"
                     "or noip = '172.20.47.40'"
                     "or noip = '172.20.47.41'"
                     "or noip = '172.20.47.42'"
                     "or noip = '172.20.47.43'"
                     "or noip = '172.20.47.44'"
                     "or noip = '172.20.47.45'"
                     "or noip = '172.20.47.46'"
                     "or noip = '172.20.47.47'"
                     "or noip = '172.20.47.48'"
                     "or noip = '172.20.47.49'"
                     "or noip = '172.20.47.50'"
                     "or noip = '172.20.47.51'"
                     "or noip = '172.20.47.52'"
                     "or noip = '172.20.47.53'"
                     "or noip = '172.20.47.54'"
                     "or noip = '172.20.47.55'"
                     "or noip = '172.20.47.56'"
                     "or noip = '172.20.47.57'"
                     "or noip = '172.20.47.58'"
                     "or noip = '172.20.47.59'"
                     "or noip = '172.20.47.60'"
                     "or noip = '172.20.47.61'"
                     "or noip = '172.20.47.62'"
                     "or noip = '172.20.47.63'"
                     "or noip = '172.20.47.64'"
                     "or noip = '172.20.47.65'"
                     "or noip = '172.20.47.66'"
                     "or noip = '172.20.47.67'"
                     "or noip = '172.20.47.68'"
                     "or noip = '172.20.47.69'"
                     "or noip = '172.20.47.70'"
                     "or noip = '172.20.47.71'"
                     "or noip = '172.20.47.72'"
                     "or noip = '172.20.47.73'"
                     "or noip = '172.20.47.74'"
                     "or noip = '172.20.47.75'"
                     "or noip = '172.20.47.76'"
                     "or noip = '172.20.47.77'"
                     "or noip = '172.20.47.78'"
                     "or noip = '172.20.47.79'"
                     "or noip = '172.20.47.80'"
                     "or noip = '172.20.47.81'"
                     "or noip = '172.20.47.82'"
                     "or noip = '172.20.47.83'"
                     "or noip = '172.20.47.84'"
                     "or noip = '172.20.47.85'"
                     "or noip = '172.20.47.86'"
                     "or noip = '172.20.47.87'"
                     "or noip = '172.20.47.88'"
                     "or noip = '172.20.47.89'"
                     "or noip = '172.20.47.90'"
                     "or noip = '172.20.47.91'"
                     "or noip = '172.20.47.92'"
                     "or noip = '172.20.47.93'"
                     "or noip = '172.20.47.94'"
                     "or noip = '172.20.47.95'"
                     "or noip = '172.20.47.150'"
                     "or noip = '172.20.47.151'"
                     "or noip = '172.20.47.152'"
                     "or noip = '172.20.47.155'"
                     "or noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)

#check.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\pm_31Agus_10Nov.xlsx', index = False)
check.kwh_totalizer.max()
check

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-09-10 06:02:33.413,None,MVMDP6,172.20.47.156,PM5560,11796.5000,9527.5000,2269.00000,3397517.00
1,2021-09-10 06:02:33.413,None,MVMDP5,172.20.47.155,PM5560,29728.0000,22397.0000,7331.00000,8207638.00
2,2021-09-10 06:02:33.413,None,MVMDP3&4,172.20.47.152,PM5560,44623.0000,32225.0000,12398.00000,13735140.00
3,2021-09-10 06:02:33.413,None,MVMDP2,172.20.47.151,PM5560,42510.0000,31883.0000,10627.00000,9947326.00
4,2021-09-10 06:02:33.413,None,MVMDP1,172.20.47.150,PM5560,27185.0000,20435.5000,6749.50000,7055592.00
...,...,...,...,...,...,...,...,...,...
995,2021-08-31 06:01:33.700,MDP4,Workshop Maintenance,172.20.47.26,PM1000,544.1172,389.7969,154.32030,92469.29
996,2021-08-31 06:01:33.700,MDP2,Waterglass,172.20.47.25,PM1000,1777.2340,1323.4140,453.82030,100030.30
997,2021-08-31 06:01:33.700,MDP4,Utility WWTP,172.20.47.81,PM1000,624.3359,460.7188,163.61720,66352.30
998,2021-08-31 06:01:33.700,MDP1,Utility Panel Meja,172.20.47.53,PM1000,224.9023,169.8438,55.05859,39436.14
999,2021-08-31 06:01:33.700,MDP5,Tank Farm Sabiz 3,172.20.47.77,PM1000,1413.1880,1026.9380,386.25000,797872.80

In [99]:
check.head()
check.kwh_totalizer[1]

7261932.0

In [12]:
moffice = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.30'"
                     "order by tgljam desc"
                     , cnxn)
moffice

mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6


#moffice['cntprbs'] = moffice ['cntpr']
moffice['selisih'] = mv6 ['kwh_perhari'] - moffice ['kwh_perhari']
moffice


zbz3 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.00'"
                     "order by tgljam desc"
                     , cnxn)
zbz3

mdp1 = pd.read_sql ("select top 100* from pm_perhari "
                     "where  "
                     " noip = '172.20.47.150_'"
                     "order by tgljam desc"
                     , cnxn)


#mdp1.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\mdp6.xlsx', index = False)

In [133]:
pd.set_option("display.max_columns", None )

# for iterasi in arange 100:


# 172.20.47.20
# 172.20.47.21
# 172.20.47.22
# 172.20.47.25
# 172.20.47.28
# 172.20.47.29
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.


t ="'172.20.47.22'"
mdp1x = pd.read_sql ("select [tgljam],[noip],[kwh_perhari],[kwh_totalizer] from pm_perhari "
                     "where  "
                     " noip = "+t+" "
                     "and tgljam between '2021-09-01 00:01:11.540' and '2021-09-30 07:01:11.540'"
                     "order by tgljam desc"
                     , cnxn)
te = mdp1x.kwh_perhari.count()
i = 0 
flaw1 = mdp1x
bad_list1 = []
timdel1 = []
for i in range (te):
    if i < (te-1):
        calcu1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1] - flaw1.kwh_perhari[i]
        bad_list1.append (calcu1)        
        blist_frame1 = pd.DataFrame(data=bad_list1)
        
        tdel1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1]
        timdel1.append (tdel1)        
        timdel1_frame1 = pd.DataFrame(data=timdel1)
        
flaw1['selisih'] = abs(blist_frame1)
flaw1['harusnya']  = timdel1_frame1
show_result1 = flaw1[((flaw1['selisih'])>1)]
show_result1

Empty DataFrame
Columns: [tgljam, noip, kwh_perhari, kwh_totalizer, selisih, harusnya]
Index: []

In [132]:
# #update Query For KWH
count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '921.5' "
                       "where tgljam = '2021-09-03 06:01:35.357' "
                       " and noip = "+t+"")
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: <pyodbc.Cursor object at 0x0000021617F66AB0>

In [62]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

In [23]:
pd.set_option("display.max_rows", None )
c11 = pd.read_sql ("select * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.153'"
                     "and tgljam between '2021-09-01 00:01:11.540' and '2021-09-10 07:01:11.540'"
                     "order by tgljam desc"
                   
                     , cnxn)
# c11.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\tex.xlsx', index = False)
c11

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-09-10 06:01:40.107,None,MVMDP3,172.20.47.153,PM5560,21372.500,16012.000,5595.750,1935866.0
1,2021-09-09 06:01:39.680,None,MVMDP3,172.20.47.153,PM5560,21372.500,16012.000,5360.500,1918186.0
2,2021-09-08 06:01:38.720,None,MVMDP3,172.20.47.153,PM5560,20923.000,15735.380,5528.875,1896814.0
3,2021-09-07 06:01:38.280,None,MVMDP3,172.20.47.153,PM5560,5982.625,4994.125,5187.625,1877115.0
4,2021-09-06 06:01:37.707,None,MVMDP3,172.20.47.153,PM5560,11289.250,9811.625,988.500,1856192.0
5,2021-09-05 06:01:36.810,None,MVMDP3,172.20.47.153,PM5560,11289.250,9811.625,1477.625,1850210.0
6,2021-09-04 06:01:36.353,None,MVMDP3,172.20.47.153,PM5560,19788.630,15474.380,4314.250,1838920.0
7,2021-09-03 06:01:35.357,None,MVMDP3,172.20.47.153,PM5560,19726.380,15613.250,5375.000,1819131.0
8,2021-09-02 06:01:35.023,None,MVMDP3,172.20.47.153,PM5560,19726.380,15613.250,4113.125,1797584.0
9,2021-09-01 06:01:34.343,None,MVMDP3,172.20.47.153,PM5560,20944.000,15491.250,5452.750,1777857.0

In [24]:
c11.kwh_totalizer[1] - c11.kwh_totalizer[0]

-17680.0

In [14]:
# count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '3850' "
#                        "where tgljam = '2021-07-02 06:00:55.093' "
#                        " and noip = '172.20.47.89'")
# cnxn.commit()
# print('Rows inserted: ' + str(count))


#mdp1x['hasil'] = mdp1x.kwh_totalizer[1] + mdp1x.kwh_perhari[0]
#mdp1x.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)

13
15
34
35
36
37
38
39
40
--
41
42
43
44
45
46
48
49
51
52
53
54
56
57
--
61
62
64
67
69
72
74
75
76
78
79
--
80
81
82
83
84
87
88
89
91
94

SyntaxError: invalid syntax (<ipython-input-14-bfda54acc312>, line 20)

In [ ]:
mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6
mv5 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.155'"
                     "order by tgljam desc"
                     , cnxn)
mv5

# Trial Something
pd.set_option("display.max_rows", None )
for x in range (150, 157):
    r = str(x)
    #print("172.20.47."+r+"")
    cls = pd.read_sql ("select top 2 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47."+r+"'"
                     "order by tgljam desc"
                     , cnxn)
    rock.append(cls, ignore_index=True)
rock