In [44]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [45]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [5]:
check = pd.read_sql ("select top 1000 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.1' "
                     "or noip = '172.20.47.2'"
                     "or noip = '172.20.47.3'"
                     "or noip = '172.20.47.4'"
                     "or noip = '172.20.47.5'"
                     "or noip = '172.20.47.6'"
                     "or noip = '172.20.47.7'"
                     "or noip = '172.20.47.8'"
                     "or noip = '172.20.47.9'"
                     "or noip = '172.20.47.10'"
                     "or noip = '172.20.47.11'"
                     "or noip = '172.20.47.12'"
                     "or noip = '172.20.47.13'"
                     "or noip = '172.20.47.14'"
                     "or noip = '172.20.47.15'"
                     "or noip = '172.20.47.16'"
                     "or noip = '172.20.47.17'"
                     "or noip = '172.20.47.18'"
                     "or noip = '172.20.47.19'"
                     "or noip = '172.20.47.20'"
                     "or noip = '172.20.47.21'"
                     "or noip = '172.20.47.22'"
                     "or noip = '172.20.47.23'"
                     "or noip = '172.20.47.24'"
                     "or noip = '172.20.47.25'"
                     "or noip = '172.20.47.26'"
                     "or noip = '172.20.47.27'"
                     "or noip = '172.20.47.28'"
                     "or noip = '172.20.47.29'"
                     "or noip = '172.20.47.30'"
                     "or noip = '172.20.47.31'"
                     "or noip = '172.20.47.32'"
                     "or noip = '172.20.47.33'"
                     "or noip = '172.20.47.34'"
                     "or noip = '172.20.47.35'"
                     "or noip = '172.20.47.36'"
                     "or noip = '172.20.47.37'"
                     "or noip = '172.20.47.38'"
                     "or noip = '172.20.47.39'"
                     "or noip = '172.20.47.40'"
                     "or noip = '172.20.47.41'"
                     "or noip = '172.20.47.42'"
                     "or noip = '172.20.47.43'"
                     "or noip = '172.20.47.44'"
                     "or noip = '172.20.47.45'"
                     "or noip = '172.20.47.46'"
                     "or noip = '172.20.47.47'"
                     "or noip = '172.20.47.48'"
                     "or noip = '172.20.47.49'"
                     "or noip = '172.20.47.50'"
                     "or noip = '172.20.47.51'"
                     "or noip = '172.20.47.52'"
                     "or noip = '172.20.47.53'"
                     "or noip = '172.20.47.54'"
                     "or noip = '172.20.47.55'"
                     "or noip = '172.20.47.56'"
                     "or noip = '172.20.47.57'"
                     "or noip = '172.20.47.58'"
                     "or noip = '172.20.47.59'"
                     "or noip = '172.20.47.60'"
                     "or noip = '172.20.47.61'"
                     "or noip = '172.20.47.62'"
                     "or noip = '172.20.47.63'"
                     "or noip = '172.20.47.64'"
                     "or noip = '172.20.47.65'"
                     "or noip = '172.20.47.66'"
                     "or noip = '172.20.47.67'"
                     "or noip = '172.20.47.68'"
                     "or noip = '172.20.47.69'"
                     "or noip = '172.20.47.70'"
                     "or noip = '172.20.47.71'"
                     "or noip = '172.20.47.72'"
                     "or noip = '172.20.47.73'"
                     "or noip = '172.20.47.74'"
                     "or noip = '172.20.47.75'"
                     "or noip = '172.20.47.76'"
                     "or noip = '172.20.47.77'"
                     "or noip = '172.20.47.78'"
                     "or noip = '172.20.47.79'"
                     "or noip = '172.20.47.80'"
                     "or noip = '172.20.47.81'"
                     "or noip = '172.20.47.82'"
                     "or noip = '172.20.47.83'"
                     "or noip = '172.20.47.84'"
                     "or noip = '172.20.47.85'"
                     "or noip = '172.20.47.86'"
                     "or noip = '172.20.47.87'"
                     "or noip = '172.20.47.88'"
                     "or noip = '172.20.47.89'"
                     "or noip = '172.20.47.90'"
                     "or noip = '172.20.47.91'"
                     "or noip = '172.20.47.92'"
                     "or noip = '172.20.47.93'"
                     "or noip = '172.20.47.94'"
                     "or noip = '172.20.47.95'"
                     "or noip = '172.20.47.150'"
                     "or noip = '172.20.47.151'"
                     "or noip = '172.20.47.152'"
                     "or noip = '172.20.47.155'"
                     "or noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)

#check.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\pm_31Agus_10Nov.xlsx', index = False)
check.kwh_totalizer.max()
check

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-09-10 06:02:33.413,None,MVMDP6,172.20.47.156,PM5560,11796.5000,9527.5000,2269.00000,3397517.00
1,2021-09-10 06:02:33.413,None,MVMDP5,172.20.47.155,PM5560,29728.0000,22397.0000,7331.00000,8207638.00
2,2021-09-10 06:02:33.413,None,MVMDP3&4,172.20.47.152,PM5560,44623.0000,32225.0000,12398.00000,13735140.00
3,2021-09-10 06:02:33.413,None,MVMDP2,172.20.47.151,PM5560,42510.0000,31883.0000,10627.00000,9947326.00
4,2021-09-10 06:02:33.413,None,MVMDP1,172.20.47.150,PM5560,27185.0000,20435.5000,6749.50000,7055592.00
...,...,...,...,...,...,...,...,...,...
995,2021-08-31 06:01:33.700,MDP4,Workshop Maintenance,172.20.47.26,PM1000,544.1172,389.7969,154.32030,92469.29
996,2021-08-31 06:01:33.700,MDP2,Waterglass,172.20.47.25,PM1000,1777.2340,1323.4140,453.82030,100030.30
997,2021-08-31 06:01:33.700,MDP4,Utility WWTP,172.20.47.81,PM1000,624.3359,460.7188,163.61720,66352.30
998,2021-08-31 06:01:33.700,MDP1,Utility Panel Meja,172.20.47.53,PM1000,224.9023,169.8438,55.05859,39436.14
999,2021-08-31 06:01:33.700,MDP5,Tank Farm Sabiz 3,172.20.47.77,PM1000,1413.1880,1026.9380,386.25000,797872.80

In [99]:
check.head()
check.kwh_totalizer[1]

7261932.0

In [3]:
#except 172.20.47.85
#except 172.20.47.86
#looping 1 - 85
#looping 87 -92
#looping 93 -94
#Looping 150 - 156

data_you_need=pd.DataFrame()
for x in range(150,156):
    iptostring =str (x)
    mdp1x = pd.read_sql ("select [tgljam],[noip],[kwh_perhari],[kwh_totalizer] from pm_perhari "
                     "where  "
                     " noip = '172.20.47."+iptostring+"' "
                     "and tgljam between '2021-09-01 00:01:11.540' and '2021-09-30 07:01:11.540'"
                     "order by tgljam desc"
                     , cnxn)
    te = mdp1x.kwh_perhari.count()
    i = 0 
    flaw1 = mdp1x
    bad_list1 = []
    timdel1 = []
    for i in range (te):
        if i < (te-1):
            calcu1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1] - flaw1.kwh_perhari[i]
            bad_list1.append (calcu1)        
            blist_frame1 = pd.DataFrame(data=bad_list1)

            tdel1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1]
            timdel1.append (tdel1)        
            timdel1_frame1 = pd.DataFrame(data=timdel1)

    flaw1['selisih'] = abs(blist_frame1)
    flaw1['harusnya']  = timdel1_frame1
    show_result1 = flaw1[((flaw1['selisih'])>1)]
    show_result1
    data_you_need=data_you_need.append(show_result1,ignore_index=True)
    
data_you_need

,tgljam,noip,kwh_perhari,kwh_totalizer,selisih,harusnya
0,2021-09-22 06:02:53.503,172.20.47.151,41503.000,10350940.0,3.000,41500.0
1,2021-09-21 06:02:52.187,172.20.47.151,38487.000,10309440.0,3.000,38490.0
2,2021-09-20 06:02:50.217,172.20.47.151,23456.000,10270950.0,6.000,23450.0
3,2021-09-19 06:02:48.340,172.20.47.151,28513.000,10247500.0,7.000,28520.0
4,2021-09-21 06:02:52.187,172.20.47.152,47996.000,14211320.0,4.000,48000.0
5,2021-09-20 06:02:50.217,172.20.47.152,34035.000,14163320.0,5.000,34040.0
6,2021-09-19 06:02:48.340,172.20.47.152,37507.000,14129280.0,7.000,37500.0
7,2021-09-22 06:01:48.193,172.20.47.153,20508.880,2133729.0,1188.120,21697.0
8,2021-09-21 06:01:47.497,172.20.47.153,7422.125,2112032.0,13086.875,20509.0
9,2021-09-20 06:01:46.903,172.20.47.153,10173.630,2091523.0,2751.630,7422.0
10,2021-09-22 06:01:48.193,172.20.47.154,27335.000,3107497.0,498.000,27833.0
11,2021-09-21 06:01:47.497,172.20.47.154,26491.250,3079664.0,843.750,27335.0
12,2021-09-20 06:01:46.903,172.20.47.154,27223.000,3052329.0,732.000,26491.0

In [201]:
#Tulis dari ROW berpa ke Berapa

for val_id in range(0,15):
    x=str(data_you_need.tgljam[val_id])
    tgljam_selected = x[:-3]
    ip_selected = data_you_need.noip[val_id]
    replace_val = data_you_need.harusnya[val_id]
    data_rplc = str(round(replace_val,2))
    select_id = data_you_need
    count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = "+data_rplc+" "
                           "where tgljam =  '"+tgljam_selected+"' "
                           "and noip = '"+ip_selected+"' " )
    cnxn.commit()    
print('Rows inserted: ' + str(count))

KeyError: 0

In [62]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

In [49]:
mv6 = pd.read_sql ("select top 60 * from t_metering "
                     "where  "
                     " noip = '172.20.47.150'  "
                     "order by tgljam desc"
                     , cnxn)
mv6
# mv6.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\Oven7_PWR_FACATOR.xlsx', index = False)

Empty DataFrame
Columns: [tgljam, plant, noip, instr, metering, nilai]
Index: []

In [55]:
mdp1x = pd.read_sql ("select top 60 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.153'"
                     "order by tgljam desc"
                     , cnxn)
mdp1x
mdp1x.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\mdpxx.xlsx', index = False)