In [1]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [2]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [98]:
check = pd.read_sql ("select top 1500 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.1' "
                     "or noip = '172.20.47.2'"
                     "or noip = '172.20.47.3'"
                     "or noip = '172.20.47.4'"
                     "or noip = '172.20.47.5'"
                     "or noip = '172.20.47.6'"
                     "or noip = '172.20.47.7'"
                     "or noip = '172.20.47.8'"
                     "or noip = '172.20.47.9'"
                     "or noip = '172.20.47.10'"
                     "or noip = '172.20.47.11'"
                     "or noip = '172.20.47.12'"
                     "or noip = '172.20.47.13'"
                     "or noip = '172.20.47.14'"
                     "or noip = '172.20.47.15'"
                     "or noip = '172.20.47.16'"
                     "or noip = '172.20.47.17'"
                     "or noip = '172.20.47.18'"
                     "or noip = '172.20.47.19'"
                     "or noip = '172.20.47.20'"
                     "or noip = '172.20.47.21'"
                     "or noip = '172.20.47.22'"
                     "or noip = '172.20.47.23'"
                     "or noip = '172.20.47.24'"
                     "or noip = '172.20.47.25'"
                     "or noip = '172.20.47.26'"
                     "or noip = '172.20.47.27'"
                     "or noip = '172.20.47.28'"
                     "or noip = '172.20.47.29'"
                     "or noip = '172.20.47.30'"
                     "or noip = '172.20.47.31'"
                     "or noip = '172.20.47.32'"
                     "or noip = '172.20.47.33'"
                     "or noip = '172.20.47.34'"
                     "or noip = '172.20.47.35'"
                     "or noip = '172.20.47.36'"
                     "or noip = '172.20.47.37'"
                     "or noip = '172.20.47.38'"
                     "or noip = '172.20.47.39'"
                     "or noip = '172.20.47.40'"
                     "or noip = '172.20.47.41'"
                     "or noip = '172.20.47.42'"
                     "or noip = '172.20.47.43'"
                     "or noip = '172.20.47.44'"
                     "or noip = '172.20.47.45'"
                     "or noip = '172.20.47.46'"
                     "or noip = '172.20.47.47'"
                     "or noip = '172.20.47.48'"
                     "or noip = '172.20.47.49'"
                     "or noip = '172.20.47.50'"
                     "or noip = '172.20.47.51'"
                     "or noip = '172.20.47.52'"
                     "or noip = '172.20.47.53'"
                     "or noip = '172.20.47.54'"
                     "or noip = '172.20.47.55'"
                     "or noip = '172.20.47.56'"
                     "or noip = '172.20.47.57'"
                     "or noip = '172.20.47.58'"
                     "or noip = '172.20.47.59'"
                     "or noip = '172.20.47.60'"
                     "or noip = '172.20.47.61'"
                     "or noip = '172.20.47.62'"
                     "or noip = '172.20.47.63'"
                     "or noip = '172.20.47.64'"
                     "or noip = '172.20.47.65'"
                     "or noip = '172.20.47.66'"
                     "or noip = '172.20.47.67'"
                     "or noip = '172.20.47.68'"
                     "or noip = '172.20.47.69'"
                     "or noip = '172.20.47.70'"
                     "or noip = '172.20.47.71'"
                     "or noip = '172.20.47.72'"
                     "or noip = '172.20.47.73'"
                     "or noip = '172.20.47.74'"
                     "or noip = '172.20.47.75'"
                     "or noip = '172.20.47.76'"
                     "or noip = '172.20.47.77'"
                     "or noip = '172.20.47.78'"
                     "or noip = '172.20.47.79'"
                     "or noip = '172.20.47.80'"
                     "or noip = '172.20.47.81'"
                     "or noip = '172.20.47.82'"
                     "or noip = '172.20.47.83'"
                     "or noip = '172.20.47.84'"
                     "or noip = '172.20.47.85'"
                     "or noip = '172.20.47.86'"
                     "or noip = '172.20.47.87'"
                     "or noip = '172.20.47.88'"
                     "or noip = '172.20.47.89'"
                     "or noip = '172.20.47.90'"
                     "or noip = '172.20.47.91'"
                     "or noip = '172.20.47.92'"
                     "or noip = '172.20.47.93'"
                     "or noip = '172.20.47.94'"
                     "or noip = '172.20.47.95'"
                     "or noip = '172.20.47.150'"
                     "or noip = '172.20.47.151'"
                     "or noip = '172.20.47.152'"
                     "or noip = '172.20.47.155'"
                     "or noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)

check.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\pmcheck.xlsx', index = False)
check.kwh_totalizer.max()
#check.head(60)

12168900.0

In [99]:
check.head()
check.kwh_totalizer[1]

7261932.0

In [12]:
moffice = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.30'"
                     "order by tgljam desc"
                     , cnxn)
moffice

mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6


#moffice['cntprbs'] = moffice ['cntpr']
moffice['selisih'] = mv6 ['kwh_perhari'] - moffice ['kwh_perhari']
moffice


zbz3 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.00'"
                     "order by tgljam desc"
                     , cnxn)
zbz3

mdp1 = pd.read_sql ("select top 100* from pm_perhari "
                     "where  "
                     " noip = '172.20.47.150_'"
                     "order by tgljam desc"
                     , cnxn)


#mdp1.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\mdp6.xlsx', index = False)

In [7]:
t ="'172.20.47.29'"
mdp1x = pd.read_sql ("select [tgljam],[noip],[kwh_perhari],[kwh_totalizer] from pm_perhari "
                     "where  "
                     " noip = "+t+" "
                     "and tgljam between '2021-07-01 00:01:11.540' and '2021-07-31 07:01:11.540'"
                     "order by tgljam desc"
                     , cnxn)

#mdp1x['hasil'] = mdp1x.kwh_totalizer[1] + mdp1x.kwh_perhari[0]
#mdp1x.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)

te = mdp1x.kwh_perhari.count()

i = 0 
flaw1 = mdp1x
bad_list1 = []
timdel1 = []
for i in range (te):
    if i < (te-1):
        calcu1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1] - flaw1.kwh_perhari[i]
        bad_list1.append (calcu1)        
        blist_frame1 = pd.DataFrame(data=bad_list1)
        
        tdel1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1]
        timdel1.append (tdel1)        
        timdel1_frame1 = pd.DataFrame(data=timdel1)
        
flaw1['selisih'] = abs(blist_frame1)
flaw1['harusnya']  = timdel1_frame1
show_result1 = flaw1[((flaw1['selisih'])>1)]
show_result1

,tgljam,noip,kwh_perhari,kwh_totalizer,selisih,harusnya
19,2021-07-12 06:01:01.267,172.20.47.29,10810.27300,11506.28,11891.25300,-1080.98
20,2021-07-11 06:01:00.707,172.20.47.29,9420.35200,12587.26,10362.12200,-941.77
21,2021-07-10 06:01:00.060,172.20.47.29,28.13419,13529.03,26.44419,1.69
24,2021-07-07 06:00:58.227,172.20.47.29,28.32600,13467.75,24.23600,4.09
25,2021-07-06 06:00:57.477,172.20.47.29,28.14200,13463.66,45.54200,-17.40
26,2021-07-05 06:00:56.877,172.20.47.29,29.32500,13481.06,58.52500,-29.20
27,2021-07-04 06:00:56.050,172.20.47.29,27.28100,13510.26,55.22100,-27.94

In [6]:
#Sample insert query
count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '7434.32' "
                       "where tgljam = '2021-07-13 06:01:02.233' "
                       " and noip = "+t+"")
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: <pyodbc.Cursor object at 0x000001D50D025A30>

In [62]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

In [4]:
c11 = pd.read_sql ("select top 34 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.29' "
                     "order by tgljam desc"
                     , cnxn)
#c11.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)
c11

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-08-05 06:01:17.197,MDP2,Sulfur 2,172.20.47.29,PM1000,9.486688e+03,7.124281e+03,2362.406000,231225.70
1,2021-08-04 06:01:16.323,MDP2,Sulfur 2,172.20.47.29,PM1000,9.739609e+03,7.253891e+03,2485.719000,221739.00
2,2021-08-03 06:01:15.617,MDP2,Sulfur 2,172.20.47.29,PM1000,9.285375e+03,6.977219e+03,2308.156000,211999.40
3,2021-08-02 06:01:14.920,MDP2,Sulfur 2,172.20.47.29,PM1000,9.359891e+03,7.027438e+03,2332.453000,202714.00
4,2021-08-01 06:01:14.393,MDP2,Sulfur 2,172.20.47.29,PM1000,9.797672e+03,7.286859e+03,2510.813000,193354.10
5,2021-07-31 06:01:13.857,MDP2,Sulfur 2,172.20.47.29,PM1000,9.674766e+03,7.039281e+03,2635.484000,183556.50
6,2021-07-30 06:01:13.267,MDP2,Sulfur 2,172.20.47.29,PM1000,9.524313e+03,7.172453e+03,2351.859000,173881.70
7,2021-07-29 06:01:12.257,MDP2,Sulfur 2,172.20.47.29,PM1000,9.337600e+03,6.849906e+03,2336.641000,164357.40
8,2021-07-28 06:01:11.540,MDP2,Sulfur 2,172.20.47.29,PM1000,9.133906e+03,6.849906e+03,2284.000000,155019.80
9,2021-07-27 06:01:11.157,MDP2,Sulfur 2,172.20.47.29,PM1000,9.059188e+03,6.762203e+03,2296.984000,145886.00
10,2021-07-26 06:01:10.423,MDP2,Sulfur 2,172.20.47.29,PM1000,9.288367e+03,6.955055e+03,2333.313000,136826.70
11,2021-07-25 06:01:09.823,MDP2,Sulfur 2,172.20.47.29,PM1000,7.711664e+03,5.896602e+03,1815.063000,127538.40
12,2021-07-24 06:01:08.997,MDP2,Sulfur 2,172.20.47.29,PM1000,1.239031e+03,1.175875e+03,63.156250,119826.70
13,2021-07-23 06:01:08.447,MDP2,Sulfur 2,172.20.47.29,PM1000,9.449273e+03,6.959008e+03,2490.266000,118587.70
14,2021-07-22 06:01:07.867,MDP2,Sulfur 2,172.20.47.29,PM1000,9.891875e+03,7.438273e+03,2453.602000,109138.40
15,2021-07-21 06:01:07.373,MDP2,Sulfur 2,172.20.47.29,PM1000,1.013851e+04,7.690094e+03,2448.414000,99246.64
16,2021-07-20 06:01:06.627,MDP2,Sulfur 2,172.20.47.29,PM1000,1.042928e+04,7.742953e+03,2686.328000,89108.02
17,2021-07-19 06:01:05.847,MDP2,Sulfur 2,172.20.47.29,PM1000,9.891380e+03,7.461535e+03,2466.578000,78678.73
18,2021-07-18 06:01:05.087,MDP2,Sulfur 2,172.20.47.29,PM1000,9.958030e+03,7.607445e+03,2496.496000,68787.35
19,2021-07-17 06:01:04.557,MDP2,Sulfur 2,172.20.47.29,PM1000,1.011207e+04,7.607445e+03,2504.621000,58829.32
20,2021-07-16 06:01:04.030,MDP2,Sulfur 2,172.20.47.29,PM1000,1.006283e+04,7.522313e+03,2540.516000,48717.25
21,2021-07-15 06:01:03.390,MDP2,Sulfur 2,172.20.47.29,PM1000,9.671684e+03,7.245027e+03,2426.656000,38654.43
22,2021-07-14 06:01:02.627,MDP2,Sulfur 2,172.20.47.29,PM1000,1.004215e+04,7.494109e+03,2548.037000,28982.74
23,2021-07-13 06:01:02.233,MDP2,Sulfur 2,172.20.47.29,PM1000,1.007433e+06,1.005018e+06,2415.375000,18940.60
24,2021-07-12 06:01:01.267,MDP2,Sulfur 2,172.20.47.29,PM1000,1.081027e+04,9.991859e+05,-267.875000,11506.28
25,2021-07-11 06:01:00.707,MDP2,Sulfur 2,172.20.47.29,PM1000,9.420352e+03,9.993416e+05,-284.312500,12587.26
26,2021-07-10 06:01:00.060,MDP2,Sulfur 2,172.20.47.29,PM1000,2.813419e+01,9.999966e+05,4.062500,13529.03
27,2021-07-09 06:00:59.593,MDP2,Sulfur 2,172.20.47.29,PM1000,3.147949e+01,2.458008e+01,6.899414,13527.34
28,2021-07-08 06:00:58.757,MDP2,Sulfur 2,172.20.47.29,PM1000,2.811719e+01,2.135547e+01,6.761719,13495.87
29,2021-07-07 06:00:58.227,MDP2,Sulfur 2,172.20.47.29,PM1000,2.832600e+01,9.999963e+05,6.812500,13467.75
30,2021-07-06 06:00:57.477,MDP2,Sulfur 2,172.20.47.29,PM1000,2.814200e+01,9.999896e+05,-7.937500,13463.66
31,2021-07-05 06:00:56.877,MDP2,Sulfur 2,172.20.47.29,PM1000,2.932500e+01,9.999777e+05,-7.875000,13481.06
32,2021-07-04 06:00:56.050,MDP2,Sulfur 2,172.20.47.29,PM1000,2.728100e+01,9.999788e+05,-7.687500,13510.26
33,2021-07-03 06:00:55.690,MDP2,Sulfur 2,172.20.47.29,PM1000,2.902832e+01,3.437305e+01,-5.344727,13538.20

In [75]:
count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '3850' "
                       "where tgljam = '2021-07-02 06:00:55.093' "
                       " and noip = '172.20.47.89'")
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: <pyodbc.Cursor object at 0x000001F69F779930>