In [1]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [2]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [8]:
check = pd.read_sql ("select top 1500 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.1' "
                     "or noip = '172.20.47.2'"
                     "or noip = '172.20.47.3'"
                     "or noip = '172.20.47.4'"
                     "or noip = '172.20.47.5'"
                     "or noip = '172.20.47.6'"
                     "or noip = '172.20.47.7'"
                     "or noip = '172.20.47.8'"
                     "or noip = '172.20.47.9'"
                     "or noip = '172.20.47.10'"
                     "or noip = '172.20.47.11'"
                     "or noip = '172.20.47.12'"
                     "or noip = '172.20.47.13'"
                     "or noip = '172.20.47.14'"
                     "or noip = '172.20.47.15'"
                     "or noip = '172.20.47.16'"
                     "or noip = '172.20.47.17'"
                     "or noip = '172.20.47.18'"
                     "or noip = '172.20.47.19'"
                     "or noip = '172.20.47.20'"
                     "or noip = '172.20.47.21'"
                     "or noip = '172.20.47.22'"
                     "or noip = '172.20.47.23'"
                     "or noip = '172.20.47.24'"
                     "or noip = '172.20.47.25'"
                     "or noip = '172.20.47.26'"
                     "or noip = '172.20.47.27'"
                     "or noip = '172.20.47.28'"
                     "or noip = '172.20.47.29'"
                     "or noip = '172.20.47.30'"
                     "or noip = '172.20.47.31'"
                     "or noip = '172.20.47.32'"
                     "or noip = '172.20.47.33'"
                     "or noip = '172.20.47.34'"
                     "or noip = '172.20.47.35'"
                     "or noip = '172.20.47.36'"
                     "or noip = '172.20.47.37'"
                     "or noip = '172.20.47.38'"
                     "or noip = '172.20.47.39'"
                     "or noip = '172.20.47.40'"
                     "or noip = '172.20.47.41'"
                     "or noip = '172.20.47.42'"
                     "or noip = '172.20.47.43'"
                     "or noip = '172.20.47.44'"
                     "or noip = '172.20.47.45'"
                     "or noip = '172.20.47.46'"
                     "or noip = '172.20.47.47'"
                     "or noip = '172.20.47.48'"
                     "or noip = '172.20.47.49'"
                     "or noip = '172.20.47.50'"
                     "or noip = '172.20.47.51'"
                     "or noip = '172.20.47.52'"
                     "or noip = '172.20.47.53'"
                     "or noip = '172.20.47.54'"
                     "or noip = '172.20.47.55'"
                     "or noip = '172.20.47.56'"
                     "or noip = '172.20.47.57'"
                     "or noip = '172.20.47.58'"
                     "or noip = '172.20.47.59'"
                     "or noip = '172.20.47.60'"
                     "or noip = '172.20.47.61'"
                     "or noip = '172.20.47.62'"
                     "or noip = '172.20.47.63'"
                     "or noip = '172.20.47.64'"
                     "or noip = '172.20.47.65'"
                     "or noip = '172.20.47.66'"
                     "or noip = '172.20.47.67'"
                     "or noip = '172.20.47.68'"
                     "or noip = '172.20.47.69'"
                     "or noip = '172.20.47.70'"
                     "or noip = '172.20.47.71'"
                     "or noip = '172.20.47.72'"
                     "or noip = '172.20.47.73'"
                     "or noip = '172.20.47.74'"
                     "or noip = '172.20.47.75'"
                     "or noip = '172.20.47.76'"
                     "or noip = '172.20.47.77'"
                     "or noip = '172.20.47.78'"
                     "or noip = '172.20.47.79'"
                     "or noip = '172.20.47.80'"
                     "or noip = '172.20.47.81'"
                     "or noip = '172.20.47.82'"
                     "or noip = '172.20.47.83'"
                     "or noip = '172.20.47.84'"
                     "or noip = '172.20.47.85'"
                     "or noip = '172.20.47.86'"
                     "or noip = '172.20.47.87'"
                     "or noip = '172.20.47.88'"
                     "or noip = '172.20.47.89'"
                     "or noip = '172.20.47.90'"
                     "or noip = '172.20.47.91'"
                     "or noip = '172.20.47.92'"
                     "or noip = '172.20.47.93'"
                     "or noip = '172.20.47.94'"
                     "or noip = '172.20.47.95'"
                     "or noip = '172.20.47.150'"
                     "or noip = '172.20.47.151'"
                     "or noip = '172.20.47.152'"
                     "or noip = '172.20.47.155'"
                     "or noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)

check.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\pm_22Agst_6Nov.xlsx', index = False)
check.kwh_totalizer.max()
check

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-09-06 06:02:26.953,None,MVMDP6,172.20.47.156,PM5560,6249.7500,4778.7500,1471.0000,3350223.00
1,2021-09-06 06:02:26.953,None,MVMDP5,172.20.47.155,PM5560,7422.0000,5900.0000,1522.0000,8084892.00
2,2021-09-06 06:02:26.953,None,MVMDP3&4,172.20.47.152,PM5560,31727.0000,24286.0000,7441.0000,13549270.00
3,2021-09-06 06:02:26.953,None,MVMDP2,172.20.47.151,PM5560,33818.0000,25391.0000,8427.0000,9775304.00
4,2021-09-06 06:02:26.953,None,MVMDP1,172.20.47.150,PM5560,8254.5000,6621.5000,1633.0000,6947048.00
...,...,...,...,...,...,...,...,...,...
1495,2021-08-22 06:01:28.037,MDP2,Tank Farm Fresh Water,172.20.47.54,PM1000,637.8516,475.5469,162.3047,87568.27
1496,2021-08-22 06:01:28.037,MDP3,Sulfur Utility 4,172.20.47.59,PM1000,2284.1560,1666.1560,618.0000,420489.20
1497,2021-08-22 06:01:28.037,MDP3,Sulfur Utility 3,172.20.47.55,PM1000,3095.6250,2321.0000,774.6250,764350.40
1498,2021-08-22 06:01:28.037,MDP3,Sulfur 4,172.20.47.58,PM1000,83.5625,62.5625,21.0000,583212.20
1499,2021-08-22 06:01:28.037,MDP3,Sulfur 3,172.20.47.50,PM1000,8727.0310,6553.8590,2173.1720,197548.40

In [99]:
check.head()
check.kwh_totalizer[1]

7261932.0

In [12]:
moffice = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.30'"
                     "order by tgljam desc"
                     , cnxn)
moffice

mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6


#moffice['cntprbs'] = moffice ['cntpr']
moffice['selisih'] = mv6 ['kwh_perhari'] - moffice ['kwh_perhari']
moffice


zbz3 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.00'"
                     "order by tgljam desc"
                     , cnxn)
zbz3

mdp1 = pd.read_sql ("select top 100* from pm_perhari "
                     "where  "
                     " noip = '172.20.47.150_'"
                     "order by tgljam desc"
                     , cnxn)


#mdp1.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\mdp6.xlsx', index = False)

In [158]:
pd.set_option("display.max_columns", None )

# for iterasi in arange 100:

# 172.20.47.34
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.87~
# 172.20.47.
# 172.20.47.
# 172.20.47.
# 172.20.47.


# 172.20.47.15
# 172.20.47.153
# 172.20.47.153
# 172.20.47.154
# 172.20.47.154
# 172.20.47.154
# 172.20.47.154
# 172.20.47.154
# 172.20.47.154


t ="'172.20.47.87'"
mdp1x = pd.read_sql ("select [tgljam],[noip],[kwh_perhari],[kwh_totalizer] from pm_perhari "
                     "where  "
                     " noip = "+t+" "
                     "and tgljam between '2021-08-01 00:01:11.540' and '2021-08-31 07:01:11.540'"
                     "order by tgljam desc"
                     , cnxn)
te = mdp1x.kwh_perhari.count()
i = 0 
flaw1 = mdp1x
bad_list1 = []
timdel1 = []
for i in range (te):
    if i < (te-1):
        calcu1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1] - flaw1.kwh_perhari[i]
        bad_list1.append (calcu1)        
        blist_frame1 = pd.DataFrame(data=bad_list1)
        
        tdel1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1]
        timdel1.append (tdel1)        
        timdel1_frame1 = pd.DataFrame(data=timdel1)
        
flaw1['selisih'] = abs(blist_frame1)
flaw1['harusnya']  = timdel1_frame1
show_result1 = flaw1[((flaw1['selisih'])>1)]
show_result1

,tgljam,noip,kwh_perhari,kwh_totalizer,selisih,harusnya
15,2021-08-16 06:01:24.193,172.20.47.87,525.0,-36.90693,530.69833,-5.69833
16,2021-08-15 06:01:23.493,172.20.47.87,525.0,-31.20860,531.19036,-6.19036
17,2021-08-14 06:01:22.693,172.20.47.87,525.0,-25.01824,531.45928,-6.45928

In [156]:
# #update Query For KWH
count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '26282.0' "
                       "where tgljam = '2021-08-31 06:01:33.700' "
                       " and noip = "+t+"")
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: <pyodbc.Cursor object at 0x0000024869C85AB0>

In [62]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

In [160]:
pd.set_option("display.max_rows", None )
c11 = pd.read_sql ("select * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.87'"
                     "and tgljam between '2021-08-01 00:01:11.540' and '2021-09-06 07:01:11.540'"
                     "order by tgljam desc"
                   
                     , cnxn)
# c11.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\tex.xlsx', index = False)
c11

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-09-06 06:01:37.707,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,489.5000,366.47560,123.024400,10143.55000
1,2021-09-05 06:01:36.810,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,497.6563,372.32420,125.332000,9654.05500
2,2021-09-04 06:01:36.353,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,504.2451,379.67680,124.568400,9156.39800
3,2021-09-03 06:01:35.607,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,506.0020,381.20020,124.801800,8652.15300
4,2021-09-02 06:01:35.023,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,497.0415,373.33150,123.710000,8146.15100
5,2021-09-01 06:01:34.343,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,522.5557,394.54200,128.013700,7649.11000
6,2021-08-31 06:01:33.700,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,503.7720,378.66310,125.108900,7126.55400
7,2021-08-30 06:01:33.027,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,411.5195,289.44970,122.069800,6622.78200
8,2021-08-29 06:01:32.283,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,499.1050,378.16310,124.502400,6211.26300
9,2021-08-28 06:01:31.950,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,502.5737,378.16310,124.410600,5712.15800
10,2021-08-27 06:01:31.057,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,497.1030,372.81250,124.290500,5209.58400
11,2021-08-26 06:01:30.590,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,490.1138,367.50930,122.604500,4712.48100
12,2021-08-25 06:01:29.780,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,486.5488,363.97510,122.573700,4222.36800
13,2021-08-24 06:01:29.297,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,491.0403,368.77930,122.261000,3735.81900
14,2021-08-23 06:01:28.653,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,486.0950,361.90630,124.188700,3244.77900
15,2021-08-22 06:01:28.037,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,489.8057,367.11770,122.688000,2758.68400
16,2021-08-21 06:01:27.517,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,485.1876,363.42700,121.760600,2268.87800
17,2021-08-20 06:01:26.843,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,486.2500,365.08920,121.160800,1783.69600
18,2021-08-19 06:01:26.240,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,484.2173,362.02060,122.196700,1297.44000
19,2021-08-18 06:01:25.550,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,486.8574,364.75220,122.105200,813.22300
20,2021-08-17 06:01:24.877,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,363.2726,241.19010,122.082400,326.36560
21,2021-08-16 06:01:24.193,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,999994.50000,-1.250000,-36.90693
22,2021-08-15 06:01:23.493,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,999994.40000,-1.562500,-31.20860
23,2021-08-14 06:01:22.693,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,-16.64274,-1.625000,-25.01824
24,2021-08-13 06:01:22.260,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,-16.64274,-1.916224,-18.55896
25,2021-08-12 06:01:21.337,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
26,2021-08-11 06:01:20.907,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
27,2021-08-10 06:01:20.227,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
28,2021-08-09 06:01:19.443,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
29,2021-08-08 06:01:18.963,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
30,2021-08-07 06:01:18.347,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
31,2021-08-06 06:01:17.493,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
32,2021-08-05 06:01:16.943,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
33,2021-08-04 06:01:16.323,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
34,2021-08-03 06:01:15.617,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
35,2021-08-02 06:01:14.920,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN
36,2021-08-01 06:01:14.393,MDP2,Panel Blower 22KW,172.20.47.87,PM1000,525.0000,NaN,NaN,NaN

In [8]:
c11.kwh_totalizer[1] - c11.kwh_totalizer[0]

-260.24199999999996

In [14]:
# count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '3850' "
#                        "where tgljam = '2021-07-02 06:00:55.093' "
#                        " and noip = '172.20.47.89'")
# cnxn.commit()
# print('Rows inserted: ' + str(count))


#mdp1x['hasil'] = mdp1x.kwh_totalizer[1] + mdp1x.kwh_perhari[0]
#mdp1x.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)

13
15
34
35
36
37
38
39
40
--
41
42
43
44
45
46
48
49
51
52
53
54
56
57
--
61
62
64
67
69
72
74
75
76
78
79
--
80
81
82
83
84
87
88
89
91
94

SyntaxError: invalid syntax (<ipython-input-14-bfda54acc312>, line 20)

In [ ]:
mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6
mv5 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.155'"
                     "order by tgljam desc"
                     , cnxn)
mv5

# Trial Something
pd.set_option("display.max_rows", None )
for x in range (150, 157):
    r = str(x)
    #print("172.20.47."+r+"")
    cls = pd.read_sql ("select top 2 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47."+r+"'"
                     "order by tgljam desc"
                     , cnxn)
    rock.append(cls, ignore_index=True)
rock