In [1]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

##connecting to your database through ODBC
cnxn = odbc.connect('DSN=196-serv;UID=support;PWD=support', autocommit=True)
cursor = cnxn.cursor()

##connecting to your database through ODBC
#c250 = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
#cursor = c250.cursor()


##connecting to your database through ODBC
cnxn196 = odbc.connect('DSN=196-serv;UID=support;PWD=support', autocommit=True)
cursor196 = cnxn196.cursor()

##connecting to your database through ODBC
cnxn249 = odbc.connect('DSN=249-serv;UID=support;PWD=support', autocommit=True)
cursor249 = cnxn249.cursor()

In [2]:
# satu mingg 10080
# satu hari 1440
# tiga hari 4320
t = ' [tgljam],[noip],[noseq],[cntpr],[cntprset],[cntprset2],[cntprall],[cntprsetall],[cntprsetall2]'
#te = 450
#tt = '450'
dum = 0
lt = "and tgljam between '2021-08-02 00:01:00.000' and '2021-08-02 23:00:00.000' "

Ambil Data dari semua Mesin

In [3]:
check971 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '1' "+lt+""
                     #"and tgljam >= '2021-07-06 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check971

check972 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '2' "+lt+""
                     #"and tgljam >= '2021-07-06 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check972

check973 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '3' "+lt+""
                     #"and tgljam >= '2021-07-06 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check973

check974 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '4' "+lt+""
                     #"and tgljam >= '2021-07-06 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check974

check979 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '9' "+lt+""
                     #"and tgljam >= '2021-07-06 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check979

check9718 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '18' "+lt+""
                     #"and tgljam >= '2021-04-29 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9718

check9719 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '19' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9719

check9720 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '20' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9720

check9721 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '21' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9721

check981 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '1' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check981

check982 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '2' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check982

check989 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '9' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check989
check9810 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '10' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9810
##########################################################################################
check9821 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '21' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9821
check9822 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '22' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9822
check9823 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '23' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9823
check9824 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '24' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9824
check9825 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '25' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9825
check9826 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '26' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9826
check9827 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '27' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9827
check9828 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.98' and noseq = '28' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9828
check995 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '5' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check995
check996 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '6' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check996
check997 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '7' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check997
check998 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '8' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check998
check999 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '9' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check999
check9910 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '10' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9910
check9911 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '11' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9911
check9912 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.99' and noseq = '12' "+lt+""
                     #"and tgljam between '2021-04-26 05:30:00.000' and '2021-04-26 06:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9912
###################################################################

te = check971.cntpr.count()

i = 0 
dum971 =dum972 =dum973 =dum974= dum979 =dum972 = dum9718= dum9719= dum9720= dum9721= dum981= dum982= dum989= dum9810= 0
dum9821= dum9822= dum9823= dum9824= dum9825= dum9826= dum9827= dum9828= 0
dum995= dum996= dum997= dum998= dum999= dum9910= dum9911= dum9912= 0

for i in range (te):
    if i < (te-1):
        
        cal971 = check971.cntpr[i] + check971.cntprall [i+1] - check971.cntprall [i]
        total971 = cal971 + dum971
        dum971 = total971
        scheck971 = check971.cntpr.loc[0:].sum()
        
        cal972 = check972.cntpr[i] + check972.cntprall [i+1] - check972.cntprall [i]
        total972 = cal972 + dum972
        dum972 = total972
        scheck972 = check972.cntpr.loc[0:].sum()
        
        cal973 = check973.cntpr[i] + check973.cntprall [i+1] - check973.cntprall [i]
        total973 = cal973 + dum973
        dum973 = total973
        scheck973 = check973.cntpr.loc[0:].sum()
        
        cal974 = check974.cntpr[i] + check974.cntprall [i+1] - check974.cntprall [i]
        total974 = cal974 + dum974
        dum974 = total974
        scheck974 = check974.cntpr.loc[0:].sum()
        
        cal979 = check979.cntpr[i] + check979.cntprall [i+1] - check979.cntprall [i]
        total979 = cal979 + dum979
        dum979 = total979
        scheck979 = check979.cntpr.loc[0:].sum()
        
        cal9718 = check9718.cntpr[i] + check9718.cntprall [i+1] - check9718.cntprall [i]
        total9718 = cal9718 + dum9718
        dum9718 = total9718
        scheck9718 = check9718.cntpr.loc[0:].sum()
        
        cal9719 = check9719.cntpr[i] + check9719.cntprall [i+1] - check9719.cntprall [i]
        total9719 = cal9719 + dum9719
        dum9719 = total9719
        scheck9719 = check9719.cntpr.loc[0:].sum()
        
        cal9720 = check9720.cntpr[i] + check9720.cntprall [i+1] - check9720.cntprall [i]
        total9720 = cal9720 + dum9720
        dum9720 = total9720
        scheck9720 = check9720.cntpr.loc[0:].sum()
        
        cal9721 = check9721.cntpr[i] + check9721.cntprall [i+1] - check9721.cntprall [i]
        total9721 = cal9721 + dum9721
        dum9721 = total9721
        scheck9721 = check9721.cntpr.loc[0:].sum()
        
        cal981 = check981.cntpr[i] + check981.cntprall [i+1] - check981.cntprall [i]
        total981 = cal981 + dum981
        dum981 = total981
        scheck981 = check981.cntpr.loc[0:].sum()
        
        cal982 = check982.cntpr[i] + check982.cntprall [i+1] - check982.cntprall [i]
        total982 = cal982 + dum982
        dum982 = total982
        scheck982 = check982.cntpr.loc[0:].sum()
        
        cal989 = check989.cntpr[i] + check989.cntprall [i+1] - check989.cntprall [i]
        total989 = cal989 + dum989
        dum989 = total989
        scheck989 = check989.cntpr.loc[0:].sum()
        
        cal9810 = check9810.cntpr[i] + check9810.cntprall [i+1] - check9810.cntprall [i]
        total9810 = cal9810 + dum9810
        dum9810 = total9810
        scheck9810 = check9810.cntpr.loc[0:].sum()
        
        cal9821 = check9821.cntpr[i] + check9821.cntprall [i+1] - check9821.cntprall [i]
        total9821 = cal9821 + dum9821
        dum9821 = total9821
        scheck9821 = check9821.cntpr.loc[0:].sum()
        
        cal9822 = check9822.cntpr[i] + check9822.cntprall [i+1] - check9822.cntprall [i]
        total9822 = cal9822 + dum9822
        dum9822 = total9822
        scheck9822 = check9822.cntpr.loc[0:].sum()
        
        cal9823 = check9823.cntpr[i] + check9823.cntprall [i+1] - check9823.cntprall [i]
        total9823 = cal9823 + dum9823
        dum9823 = total9823
        scheck9823 = check9823.cntpr.loc[0:].sum()
        
        cal9824 = check9824.cntpr[i] + check9824.cntprall [i+1] - check9824.cntprall [i]
        total9824 = cal9824 + dum9824
        dum9824 = total9824
        scheck9824 = check9824.cntpr.loc[0:].sum()
        
        cal9825 = check9825.cntpr[i] + check9825.cntprall [i+1] - check9825.cntprall [i]
        total9825 = cal9825 + dum9825
        dum9825 = total9825
        scheck9825 = check9825.cntpr.loc[0:].sum()
        
        cal9826 = check9826.cntpr[i] + check9826.cntprall [i+1] - check9826.cntprall [i]
        total9826 = cal9826 + dum9826
        dum9826 = total9826
        scheck9826 = check9826.cntpr.loc[0:].sum()
        
        cal9827 = check9827.cntpr[i] + check9827.cntprall [i+1] - check9827.cntprall [i]
        total9827 = cal9827 + dum9827
        dum9827 = total9827
        scheck9827 = check9827.cntpr.loc[0:].sum()
        
        cal9828 = check9828.cntpr[i] + check9828.cntprall [i+1] - check9828.cntprall [i]
        total9828 = cal9828 + dum9828
        dum9828 = total9828
        scheck9828 = check9828.cntpr.loc[0:].sum()
        
        cal995 = check995.cntpr[i] + check995.cntprall [i+1] - check995.cntprall [i]
        total995 = cal995 + dum995
        dum995 = total995
        scheck995 = check995.cntpr.loc[0:].sum()
        
        cal996 = check996.cntpr[i] + check996.cntprall [i+1] - check996.cntprall [i]
        total996 = cal996 + dum996
        dum996 = total996
        scheck996 = check996.cntpr.loc[0:].sum()
        
        
        cal997 = check997.cntpr[i] + check997.cntprall [i+1] - check997.cntprall [i]
        total997 = cal997 + dum997
        dum997 = total997
        scheck997 = check997.cntpr.loc[0:].sum()
        
        cal998 = check998.cntpr[i] + check998.cntprall [i+1] - check998.cntprall [i]
        total998 = cal998 + dum998
        dum998 = total998
        scheck998 = check998.cntpr.loc[0:].sum()
        
        cal999 = check999.cntpr[i] + check999.cntprall [i+1] - check999.cntprall [i]
        total999 = cal999 + dum999
        dum999 = total999
        scheck999 = check999.cntpr.loc[0:].sum()
        
        cal9910 = check9910.cntpr[i] + check9910.cntprall [i+1] - check9910.cntprall [i]
        total9910 = cal9910 + dum9910
        dum9910 = total9910
        scheck9910 = check9910.cntpr.loc[0:].sum()
        
        cal9911 = check9911.cntpr[i] + check9911.cntprall [i+1] - check9911.cntprall [i]
        total9911 = cal9911 + dum9911
        dum9911 = total9911
        scheck9911 = check9911.cntpr.loc[0:].sum()
        
        cal9912 = check9912.cntpr[i] + check9912.cntprall [i+1] - check9912.cntprall [i]
        total9912 = cal9912 + dum9912
        dum9912 = total9912
        scheck9912 = check9912.cntpr.loc[0:].sum()
        
d = {'Area': [  '971','972','973','974','979','9718', '9719', '9720', '9721', '981' , '982'  , '989'  , '9810',
                '9821', '9822', '9823', '9824', '9825', '9826' , '9827' , '9828',
                '995' , '996' , '997' , '998' , '999' , '9910' , '9911' , '9912',
             ], 
     'Cnptr60': [scheck971,scheck972,scheck973,scheck974,scheck979,scheck9718,scheck9719,scheck9720,scheck9721,scheck981,scheck982,scheck989,scheck9810,
                 scheck9821,scheck9822,scheck9823,scheck9824,scheck9825,scheck9826,scheck9827,scheck9828,
                 scheck995,scheck996,scheck997,scheck998,scheck999,scheck9910,scheck9911,scheck9912,
             ], 
     'Diff': [total971,total972,total973,total974,total979, total9718, total9719, total9720, total9721, total981 , total982, total989, total9810,
              total9821, total9822, total9823, total9824, total9825, total9826, total9827, total9828,
              total995 , total996 , total997 , total998 , total999 , total9910, total9911, total9912,
             ]}
df = pd.DataFrame(data=d)
df

IndexError: index 0 is out of bounds for axis 0 with size 0

Check Jangkauan Data

In [8]:
check9710 = pd.read_sql("Select "+t+" from count_bs "
                    "where noip = '172.20.35.97' and noseq = '2' "+lt+""
                     #"and tgljam >= '2021-07-06 09:30:00.000' "
                    "order by tgljam desc"
                   , cnxn )
check9710

,tgljam,noip,noseq,cntpr,cntprset,cntprset2,cntprall,cntprsetall,cntprsetall2
0,2021-07-29 22:59:02.460,172.20.35.97,2,0,0,0,82606,87046,87110
1,2021-07-29 22:58:02.423,172.20.35.97,2,0,0,0,82606,87046,87110
2,2021-07-29 22:57:02.480,172.20.35.97,2,0,0,0,82606,87046,87110
3,2021-07-29 22:56:02.160,172.20.35.97,2,10,11,11,82606,87046,87110
4,2021-07-29 22:55:02.503,172.20.35.97,2,33,32,32,82596,87035,87099
...,...,...,...,...,...,...,...,...,...
1014,2021-07-29 06:04:02.333,172.20.35.97,2,32,32,32,64888,68684,68731
1015,2021-07-29 06:03:02.387,172.20.35.97,2,32,32,32,64856,68652,68699
1016,2021-07-29 06:02:02.380,172.20.35.97,2,32,32,32,64824,68620,68667
1017,2021-07-29 06:01:02.287,172.20.35.97,2,32,32,32,64792,68588,68635
1018,2021-07-29 06:00:02.747,172.20.35.97,2,32,32,32,64760,68556,68603

Flaw 1

In [13]:
flaw1 = check9826
bad_list1 = []
timdel1 = []
for i in range (te):
    if i < (te-1):
        calcu1 = flaw1.cntprset[i] + flaw1.cntprsetall[i+1] - flaw1.cntprsetall [i]
        bad_list1.append (calcu1)        
        blist_frame1 = pd.DataFrame(data=bad_list1)
        
        tdel1 = flaw1.tgljam [i] - flaw1.tgljam [i+1]
        timdel1.append (tdel1)        
        timdel1_frame1 = pd.DataFrame(data=timdel1)
        
flaw1['different'] = blist_frame1
flaw1['timedelta']  = timdel1_frame1
show_result1 = flaw1[((flaw1['different'])<0) | ((flaw1['different'])>0) | ((flaw1['cntpr'])<0) | ((flaw1['cntprset'])<0)]
show_result1

,tgljam,noip,noseq,cntpr,cntprset,cntprset2,cntprall,cntprsetall,cntprsetall2,different,timedelta
783,2021-07-29 09:56:02.413,172.20.35.98,26,44,44,None,145983,147868,None,-44.0,0 days 00:01:59.930000

Check Flaw 1

In [14]:
val1 = 783
flaw1[val1-3 : val1+4]

,tgljam,noip,noseq,cntpr,cntprset,cntprset2,cntprall,cntprsetall,cntprsetall2,different,timedelta
780,2021-07-29 09:59:02.577,172.20.35.98,26,44,44,None,146116,148001,None,0.0,0 days 00:00:59.970000
781,2021-07-29 09:58:02.607,172.20.35.98,26,44,45,None,146072,147957,None,0.0,0 days 00:01:00.494000
782,2021-07-29 09:57:02.113,172.20.35.98,26,45,44,None,146028,147912,None,0.0,0 days 00:00:59.700000
783,2021-07-29 09:56:02.413,172.20.35.98,26,44,44,None,145983,147868,None,-44.0,0 days 00:01:59.930000
784,2021-07-29 09:54:02.483,172.20.35.98,26,44,44,None,145895,147780,None,0.0,0 days 00:00:59.920000
785,2021-07-29 09:53:02.563,172.20.35.98,26,44,45,None,145851,147736,None,0.0,0 days 00:00:59.980000
786,2021-07-29 09:52:02.583,172.20.35.98,26,45,44,None,145807,147691,None,0.0,0 days 00:01:00.373000

Flaw 2

In [ ]:
flaw2 = check972
bad_list2 = []
timdel2 = []
for i in range (te):
    if i < (te-1):
        calcu2 = flaw2.cntprset[i] + flaw2.cntprsetall[i+1] - flaw2.cntprsetall [i]
        bad_list2.append (calcu2)        
        blist_frame2 = pd.DataFrame(data=bad_list2)
        
        tdel2 = flaw2.tgljam [i] - flaw2.tgljam [i+1]
        timdel2.append (tdel2)        
        timdel2_frame2 = pd.DataFrame(data=timdel2)
        
flaw2['different'] = blist_frame2
flaw2['timedelta']  = timdel2_frame2
show_result2 = flaw2[((flaw2['different'])<0) | ((flaw2['different'])>0) | ((flaw2['cntpr'])<0) | ((flaw2['cntprset'])<0)]
show_result2

Check Flaw 2

In [ ]:
val2 = 2510
flaw2[val2-3 : val2+4]

Flaw 3

In [ ]:
flaw3 = check973
bad_list3 = []
timdel3 = []
for i in range (te):
    if i < (te-1):
        calcu3 = flaw3.cntprset[i] + flaw3.cntprsetall[i+1] - flaw3.cntprsetall [i]
        bad_list3.append (calcu3)        
        blist_frame3 = pd.DataFrame(data=bad_list3)
        
        tdel3 = flaw3.tgljam [i] - flaw3.tgljam [i+1]
        timdel3.append (tdel3)        
        timdel3_frame3 = pd.DataFrame(data=timdel3)
        
flaw3['different'] = blist_frame3
flaw3['timedelta']  = timdel3_frame3
show_result3 = flaw3[((flaw3['different'])<0) | ((flaw3['different'])>0)]
show_result3

Check Flaw 3

In [ ]:
val3 = 1033
flaw3[val3-3 : val3+4]

Flaw 4

In [ ]:
flaw4 = check974
bad_list4 = []
timdel4 = []
for i in range (te):
    if i < (te-1):
        calcu4 = flaw4.cntprset[i] + flaw4.cntprsetall[i+1] - flaw4.cntprsetall [i]
        bad_list4.append (calcu4)        
        blist_frame4 = pd.DataFrame(data=bad_list4)
        
        tdel4 = flaw4.tgljam [i] - flaw4.tgljam [i+1]
        timdel4.append (tdel4)        
        timdel4_frame4 = pd.DataFrame(data=timdel4)
        
flaw4['different'] = blist_frame4
flaw4['timedelta']  = timdel4_frame4
show_result4 = flaw4[((flaw4['different'])<0) | ((flaw4['different'])>0)]
show_result4

Check Flaw 4

In [ ]:
val4 = 10046
flaw4[val4-3 : val4+4]

In [ ]:
flaw5 = check979
bad_list5 = []
timdel5 = []
for i in range (te):
    if i < (te-1):
        calcu5 = flaw5.cntprset[i] + flaw5.cntprsetall[i+1] - flaw5.cntprsetall [i]
        bad_list5.append (calcu5)        
        blist_frame5 = pd.DataFrame(data=bad_list5)
        
        tdel5 = flaw5.tgljam [i] - flaw5.tgljam [i+1]
        timdel5.append (tdel5)        
        timdel5_frame5 = pd.DataFrame(data=timdel5)
        
flaw5['different'] = blist_frame5
flaw5['timedelta']  = timdel5_frame5
show_result5 = flaw5[((flaw5['different'])<0) | ((flaw5['different'])>0)]
show_result5

In [ ]:
val5 = 2510
flaw5[val5-3 : val5+4]

Flaw 6

In [ ]:
flaw6 = check9720
bad_list6 = []
timdel6 = []
for i in range (te):
    if i < (te-1):
        calcu6 = flaw6.cntprset[i] + flaw6.cntprsetall[i+1] - flaw6.cntprsetall [i]
        bad_list6.append (calcu6)        
        blist_frame6 = pd.DataFrame(data=bad_list6)
        
        tdel6 = flaw6.tgljam [i] - flaw6.tgljam [i+1]
        timdel6.append (tdel6)        
        timdel6_frame6 = pd.DataFrame(data=timdel6)
        
flaw6['different'] = blist_frame6
flaw6['timedelta']  = timdel6_frame6
show_result6 = flaw6[((flaw6['different'])<0) | ((flaw6['different'])>0)]
show_result6

Check Flaw 6

In [ ]:
val6 = 98
flaw6[val6-3 : val6+4]

Flaw 7

In [ ]:
flaw7 = check9721
bad_list7 = []
timdel7 = []
for i in range (te):
    if i < (te-1):
        calcu7 = flaw7.cntprset[i] + flaw7.cntprsetall[i+1] - flaw7.cntprsetall [i]
        bad_list7.append (calcu7)        
        blist_frame7 = pd.DataFrame(data=bad_list7)
        
        tdel7 = flaw7.tgljam [i] - flaw7.tgljam [i+1]
        timdel7.append (tdel7)        
        timdel7_frame7 = pd.DataFrame(data=timdel7)
        
flaw7['different'] = blist_frame7
flaw7['timedelta']  = timdel7_frame7
show_result7 = flaw7[((flaw7['different'])<0) | ((flaw7['different'])>0)]
show_result7

Check Flaw 7

In [ ]:
val7 = 98
flaw7[val7-3 : val7+4]

In [ ]:
check999