In [54]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.690
linev = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-14 16:28:05.340' and '2019-02-14 16:40:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
Bismillah = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-15  10:39:05.763' and '2019-02-15 13:22:23.630' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
aka = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-15  10:39:05.763' and '2019-02-15 10:57:23.510' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
s2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-16  6:00:00.000' and '2019-02-16 15:49:05.983' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

senin_s1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-18  06:00:00.000' and '2019-02-18 13:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

senin_s2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-18  13:31:05.817' and '2019-02-18 21:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

senin_s3 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-18  21:00:00.000' and '2019-02-19 05:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

selasa_s1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-19  06:00:00.000' and '2019-02-19 13:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

selasa_s2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-19  16:11:05.943' and '2019-02-19 21:00:00.900' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

selasa_s3 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-19  21:00:00.000' and '2019-02-20 05:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

senin_css1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-18  06:00:00.000' and '2019-02-18 06:33:17.510' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)

sum_cntr_V = linev.cntr.sum()
batch_max_V =  max(linev.nobatch)

sum_cntr_Bismillah = Bismillah.cntr.sum()
batch_max_Bismillah =  max(Bismillah.nobatch)

sum_cntr_aka = aka.cntr.sum()
batch_max_aka =  max(aka.nobatch)

sum_cntr_s2 = s2.cntr.sum()
batch_max_s2 =  max(s2.nobatch)

sum_cntr_ss1 = senin_s1.cntr.sum()
batch_max_ss1 =  max(senin_s1.nobatch)

sum_cntr_ss2 = senin_s2.cntr.sum()
batch_max_ss2 =  max(senin_s2.nobatch)

sum_cntr_css1 = senin_css1.cntr.sum()
batch_max_css1 =  max(senin_css1.nobatch)

sum_cntr_ss3 = senin_s3.cntr.sum()
batch_max_ss3 =  max(senin_s3.nobatch)

##---------------------------------------
sum_cntr_sels1 = selasa_s1.cntr.sum()
batch_max_sels1 =  max(selasa_s1.nobatch)

sum_cntr_sels2 = selasa_s2.cntr.sum()
batch_max_sels2 =  max(selasa_s2.nobatch)
batch_min_sels2 =  min(selasa_s2.nobatch)


sum_cntr_sels3 = selasa_s3.cntr.sum()
batch_max_sels3 =  max(selasa_s3.nobatch)

a = sum_cntr_Bismillah - batch_max_Bismillah
b = sum_cntr_V - batch_max_V
c = sum_cntr_aka - batch_max_aka
d = sum_cntr_s2 - batch_max_s2
ss1 = sum_cntr_ss1 - batch_max_ss1
ss2 = sum_cntr_ss2 - batch_max_ss2
ss3 = sum_cntr_ss3 - batch_max_ss3
sels1 = sum_cntr_sels1 - batch_max_sels1
sels2 = sum_cntr_sels2 - (batch_max_sels2 - batch_min_sels2)
sels3 = sum_cntr_sels3 - batch_max_sels3
sels3

-1351

In [55]:
selasa_s3

    namamesin                  tgljam         barcode  cntr  nobatch
0      Conv-V 2019-02-20 04:59:17.723  18998866607367     6     4263
1      Conv-V 2019-02-20 04:59:11.640  18998866604953     3     4263
2      Conv-V 2019-02-20 04:59:05.340  18998866610237     4     4263
3      Conv-V 2019-02-20 04:58:17.540  18998866607367     2     4249
4      Conv-V 2019-02-20 04:58:11.473  18998866604953     2     4249
5      Conv-V 2019-02-20 04:58:05.623  18998866610237     3     4249
6      Conv-V 2019-02-20 04:57:17.483  18998866607367     2     4238
7      Conv-V 2019-02-20 04:57:11.690  18998866604953     3     4238
8      Conv-V 2019-02-20 04:57:05.597  18998866610237     2     4238
9      Conv-V 2019-02-20 04:56:17.480  18998866607367     6     4227
10     Conv-V 2019-02-20 04:56:11.337  18998866604953     1     4227
11     Conv-V 2019-02-20 04:56:05.543  18998866610237     2     4227
12     Conv-V 2019-02-20 04:55:17.423  18998866607367     5     4212
13     Conv-V 2019-02-20 04:55:05.460  18998866610237     1     4212
14     Conv-V 2019-02-20 04:54:17.363  18998866607367    11     4203
15     Conv-V 2019-02-20 04:54:05.460  18998866610237     4     4203
16     Conv-V 2019-02-20 04:53:17.427  18998866607367     7     4183
17     Conv-V 2019-02-20 04:53:11.547  18998866604953     5     4183
18     Conv-V 2019-02-20 04:53:05.417  18998866610237     1     4183
19     Conv-V 2019-02-20 04:52:17.477  18998866607367     4     4163
20     Conv-V 2019-02-20 04:52:11.390  18998866604953     1     4163
21     Conv-V 2019-02-20 04:52:05.557  18998866610237     6     4163
22     Conv-V 2019-02-20 04:51:17.537  18998866607367     4     4146
23     Conv-V 2019-02-20 04:51:11.407  18998866604953     2     4146
24     Conv-V 2019-02-20 04:51:05.323  18998866610237     1     4146
25     Conv-V 2019-02-20 04:50:17.447  18998866607367     2     4129
26     Conv-V 2019-02-20 04:50:05.453  18998866610237     1     4129
27     Conv-V 2019-02-20 04:49:11.397  18998866604953     1     4124
28     Conv-V 2019-02-20 04:49:05.300  18998866610237     1     4124
29     Conv-V 2019-02-20 04:48:17.690  18998866607367     5     4121
..        ...                     ...             ...   ...      ...
952    Conv-V 2019-02-19 21:23:05.267  18998866610237     2      101
953    Conv-V 2019-02-19 21:20:16.983  18998866607367     2       94
954    Conv-V 2019-02-19 21:20:05.117  18998866610237     2       94
955    Conv-V 2019-02-19 21:19:17.200  18998866607367     3       89
956    Conv-V 2019-02-19 21:19:05.337  18998866610237     3       89
957    Conv-V 2019-02-19 21:18:17.353  18998866607367     3       82
958    Conv-V 2019-02-19 21:18:04.950  18998866610237     3       82
959    Conv-V 2019-02-19 21:17:17.317  18998866607367     3       74
960    Conv-V 2019-02-19 21:17:05.187  18998866610237     3       74
961    Conv-V 2019-02-19 21:16:17.150  18998866607367     2       67
962    Conv-V 2019-02-19 21:16:05.250  18998866610237     2       67
963    Conv-V 2019-02-19 21:15:17.157  18998866607367     4       57
964    Conv-V 2019-02-19 21:15:05.190  18998866610237     4       57
965    Conv-V 2019-02-19 21:14:05.197  18998866610237     1       47
966    Conv-V 2019-02-19 21:13:17.147  18998866607367     3       46
967    Conv-V 2019-02-19 21:13:04.970  18998866610237     3       46
968    Conv-V 2019-02-19 21:12:17.213  18998866607367     2       39
969    Conv-V 2019-02-19 21:12:05.003  18998866610237     1       39
970    Conv-V 2019-02-19 21:11:17.180  18998866607367     3       33
971    Conv-V 2019-02-19 21:11:05.100  18998866610237     2       33
972    Conv-V 2019-02-19 21:10:17.227  18998866607367     5       26
973    Conv-V 2019-02-19 21:10:11.190  18998866604953     1       26
974    Conv-V 2019-02-19 21:10:05.370  18998866610237     2       26
975    Conv-V 2019-02-19 21:09:17.107  18998866607367     5       18
976    Conv-V 2019-02-19 21:08:17.293  18998866607367     4       13
977    Conv-V 2019-02-19 21:08:11.180  18998866604953     1       13
978    Conv-V 2019-02-19 21:07:11.057  18998866604953     2        8
979    Conv-V 2019-02-19 21:06:11.170  18998866604953     2        6
980    Conv-V 2019-02-19 21:05:11.087  18998866604953     2        4
981    Conv-V 2019-02-19 21:05:05.023  18998866610237     2        4

[982 rows x 5 columns]

In [56]:
selasa_s2.groupby(['barcode'])['cntr'].describe()

                count      mean       std  min  25%  50%  75%   max
barcode
18998866607367  209.0  3.755981  1.939661  1.0  2.0  3.0  5.0  11.0
18998866608708  214.0  3.443925  1.829373  1.0  2.0  3.0  5.0  13.0
18998866610237  154.0  2.324675  1.267405  1.0  2.0  2.0  3.0  11.0
No Read          12.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0

In [57]:
senin_s1

     namamesin                  tgljam         barcode  cntr  nobatch
0       Conv-V 2019-02-18 13:23:17.680  18998866607367     4     4748
1       Conv-V 2019-02-18 13:22:17.777  18998866607367    14     4744
2       Conv-V 2019-02-18 13:21:17.730  18998866607367     9     4730
3       Conv-V 2019-02-18 13:21:05.710  18998866608708     6     4730
4       Conv-V 2019-02-18 13:20:41.733         No Read     1     4715
5       Conv-V 2019-02-18 13:20:17.673  18998866607367     2     4715
6       Conv-V 2019-02-18 13:20:11.677  18998866610237     2     4715
7       Conv-V 2019-02-18 13:20:05.687  18998866608708     1     4715
8       Conv-V 2019-02-18 13:19:17.897  18998866607367     2     4709
9       Conv-V 2019-02-18 13:19:05.867  18998866608708     1     4709
10      Conv-V 2019-02-18 13:18:17.847  18998866607367     3     4706
11      Conv-V 2019-02-18 13:18:11.607  18998866610237     1     4706
12      Conv-V 2019-02-18 13:18:05.603  18998866608708     1     4706
13      Conv-V 2019-02-18 13:17:17.650  18998866607367     5     4701
14      Conv-V 2019-02-18 13:17:11.883  18998866610237     3     4701
15      Conv-V 2019-02-18 13:17:05.627  18998866608708     4     4701
16      Conv-V 2019-02-18 13:16:41.807         No Read     1     4689
17      Conv-V 2019-02-18 13:16:17.787  18998866607367     9     4689
18      Conv-V 2019-02-18 13:16:11.763  18998866610237     2     4689
19      Conv-V 2019-02-18 13:16:05.757  18998866608708     4     4689
20      Conv-V 2019-02-18 13:15:17.660  18998866607367     6     4673
21      Conv-V 2019-02-18 13:15:11.897  18998866610237     3     4673
22      Conv-V 2019-02-18 13:15:05.887  18998866608708     2     4673
23      Conv-V 2019-02-18 13:14:17.813  18998866607367     9     4662
24      Conv-V 2019-02-18 13:14:11.783  18998866610237     2     4662
25      Conv-V 2019-02-18 13:14:05.777  18998866608708     3     4662
26      Conv-V 2019-02-18 13:13:17.937  18998866607367     9     4648
27      Conv-V 2019-02-18 13:13:11.690  18998866610237     3     4648
28      Conv-V 2019-02-18 13:13:05.687  18998866608708     4     4648
29      Conv-V 2019-02-18 13:12:17.837  18998866607367     6     4632
...        ...                     ...             ...   ...      ...
1206    Conv-V 2019-02-18 06:30:05.497  18998866608708     2       88
1207    Conv-V 2019-02-18 06:29:17.607  18998866607367     2       80
1208    Conv-V 2019-02-18 06:29:11.600  18998866610237     3       80
1209    Conv-V 2019-02-18 06:29:05.597  18998866608708     3       80
1210    Conv-V 2019-02-18 06:28:17.293  18998866607367     2       72
1211    Conv-V 2019-02-18 06:28:11.547  18998866610237     2       72
1212    Conv-V 2019-02-18 06:28:05.520  18998866608708     2       72
1213    Conv-V 2019-02-18 06:27:17.307  18998866607367     4       66
1214    Conv-V 2019-02-18 06:27:11.577  18998866610237     3       66
1215    Conv-V 2019-02-18 06:27:05.547  18998866608708     4       66
1216    Conv-V 2019-02-18 06:26:23.443  18998866602218     1       55
1217    Conv-V 2019-02-18 06:26:17.427  18998866607367     1       55
1218    Conv-V 2019-02-18 06:26:11.687  18998866610237     2       55
1219    Conv-V 2019-02-18 06:26:05.377  18998866608708     2       55
1220    Conv-V 2019-02-18 06:25:17.517  18998866607367     2       49
1221    Conv-V 2019-02-18 06:25:11.503  18998866610237     1       49
1222    Conv-V 2019-02-18 06:25:05.477  18998866608708     3       49
1223    Conv-V 2019-02-18 06:24:17.520  18998866607367     3       43
1224    Conv-V 2019-02-18 06:24:11.497  18998866610237     3       43
1225    Conv-V 2019-02-18 06:24:05.487  18998866608708     4       43
1226    Conv-V 2019-02-18 06:23:17.430  18998866607367     2       33
1227    Conv-V 2019-02-18 06:23:11.683  18998866610237     1       33
1228    Conv-V 2019-02-18 06:23:05.423  18998866608708     8       33
1229    Conv-V 2019-02-18 06:22:05.403  18998866608708     6       22
1230    Conv-V 2019-02-18 06:21:05.527  18998866608708     3       16
1231    Conv-V 2019-02-18 06:20:05.440  18998866608708     4       13
1232    Conv-V 2019-02-18 06:19:05.570  18998866608708     1        9
1233    Conv-V 2019-02-18 06:18:05.447  18998866608708     6        8
1234    Conv-V 2019-02-18 06:14:05.580  18998866608708     1        2
1235    Conv-V 2019-02-18 06:13:41.533         No Read     1        0

[1236 rows x 5 columns]

In [58]:
aka.barcode.count()

64

In [59]:
senin_s1.groupby(['barcode'])['cntr'].describe()

                count      mean       std  min  25%  50%  75%   max
barcode
18998866602218  100.0  1.830000  0.932630  1.0  1.0  2.0  2.0   6.0
18998866604953  107.0  2.570093  1.091236  1.0  2.0  3.0  3.0   6.0
18998866607367  371.0  5.881402  2.328891  1.0  4.0  6.0  7.5  14.0
18998866608708  342.0  3.891813  1.721860  1.0  3.0  4.0  5.0  11.0
18998866610237  302.0  2.394040  1.018287  1.0  2.0  2.0  3.0   8.0
No Read          14.0  1.071429  0.267261  1.0  1.0  1.0  1.0   2.0

In [60]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.690


rabu_s1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-20  05:00:00.000' and '2019-02-20 13:30:000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
rabu_s2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-20 14:58:05.087' and '2019-02-20 21:05:17.287' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
rabu_s3 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-20 21:00:00.000' and '2019-02-20 05:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
kamis_s2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-21 13:30:00.000' and '2019-02-21 21:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
kamis_s1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-21 12:41:53.377' and '2019-02-21 13:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
kamis_s3 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-21 21:00:00.000' and '2019-02-22 05:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
jum_s1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-22 05:00:00.000' and '2019-02-22 13:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
jum_s2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-22 13:30:00.000' and '2019-02-22 21:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
jum_s3 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-22 21:00:00.000' and '2019-02-23 05:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)



sum_cntr_rb1 = rabu_s1.cntr.sum()
batch_max_rb1 =  max(rabu_s1.nobatch)
rab1 = sum_cntr_rb1 - batch_max_rb1
#___---------------------------------
sum_cntr_rb2 = rabu_s2.cntr.sum()
batch_max_rb2 =  max(rabu_s2.nobatch)
rab2 = sum_cntr_rb2- batch_max_rb2
#------------------------------------
sum_cntr_km2 = kamis_s2.cntr.sum()
batch_max_km2 =  max(kamis_s2.nobatch)
kam2 = sum_cntr_km2- batch_max_km2
kam2
#------------------------------------
sum_cntr_km1 = kamis_s1.cntr.sum()
batch_max_km1 =  max(kamis_s1.nobatch)
kam1 = sum_cntr_km1- batch_max_km1
kam2
#------------------------------------
sum_cntr_km3 = kamis_s3.cntr.sum()
batch_max_km3 =  max(kamis_s3.nobatch)
kam3 = sum_cntr_km3- batch_max_km3
kam3
#------------------------------------
sum_cntr_jum1 = jum_s1.cntr.sum()
batch_max_jum1 =  max(jum_s1.nobatch)
jum1 = sum_cntr_jum1- batch_max_jum1
jum1
#------------------------------------
sum_cntr_jum2 = jum_s2.cntr.sum()
batch_max_jum2 =  max(jum_s2.nobatch)
jum2 = sum_cntr_jum2- batch_max_jum2
jum2
#------------------------------------
sum_cntr_jum3 = jum_s3.cntr.sum()
batch_max_jum3 =  max(jum_s3.nobatch)
jum3 = sum_cntr_jum3- batch_max_jum3
jum3
#------------------------------------
jum3

DatabaseError: Execution failed on sql 'SELECT *  FROM mlog_test where tgljam between '2019-02-20  05:00:00.000' and '2019-02-20 13:30:000' and namamesin = 'Conv-V' order by tgljam desc': ('01000', '[01000] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionWrite (send()). (10054) (SQLExecDirectW); [01000] [Microsoft][ODBC SQL Server Driver][DBNETLIB]General network error. Check your network documentation. (11)')

In [ ]:
jum_s3

In [ ]:
jum_s3.groupby(['barcode'])['cntr'].describe()

In [ ]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.690

jumat_q1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-22  05:00:00.000' and '2019-02-22 13:30:000' and namamesin = 'Conv-Q' "
                    "order by tgljam desc",cnxn)
jumat_q1

In [ ]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.690

senin_se1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-27  05:00:00.000' and '2019-02-27 13:30:000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = senin_se1.cntr.sum()
batch_max_sen =  max(senin_se1.nobatch)
sen1 = sum_cnt_sen - batch_max_sen
sen1

In [ ]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
    
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.690

senin_se1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-28  16:14:04.747' and '2019-02-28 21:00:000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = senin_se1.cntr.sum()
batch_max_sen =  max(senin_se1.nobatch)
sen1 = sum_cnt_sen - batch_max_sen
senin_se1.head()

senin_se2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-02-28  21:00:00.000' and '2019-03-01 05:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = senin_se2.cntr.sum()
batch_max_sen =  max(senin_se2.nobatch)
sen2 = sum_cnt_sen - batch_max_sen
senin_se2.head()

senin_se3 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-01  13:42:05.330' and '2019-03-01 20:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = senin_se3.cntr.sum()
batch_max_sen =  max(senin_se3.nobatch)
sen3 = sum_cnt_sen - batch_max_sen
sen3

In [ ]:
senin_se3

In [ ]:
senin_se3.groupby(['barcode'])['cntr'].describe()

In [ ]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
    
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.69

mon1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-04  13:30:00.000' and '2019-03-04 15:10:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = mon1.cntr.sum()
batch_max_sen =  max(mon1.nobatch)
mon11 = sum_cnt_sen - batch_max_sen

########################################################
sabtu1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-02  05:00:00.000' and '2019-03-02 13:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = sabtu1.cntr.sum()
batch_max_sen =  max(sabtu1.nobatch)
sabtu = sum_cnt_sen - batch_max_sen
mon11

In [ ]:
sabtu1

In [ ]:
mon1

In [115]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
 
    
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=250-serv;UID=sa;PWD=pass1234', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
#cursor.execute("SELECT (no_ip),(no_seq),(week_no),(no_incident),(cntr),(insert_date),(reason_down) FROM t_downtime ORDER BY no_incident desc")
#tables = cursor.fetchall()

#for row in tables:
#    print row.no_ip


#2019-02-15 10:44:17.617
#10:59:23.69

mon1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-04  13:30:00.000' and '2019-03-04 15:10:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = mon1.cntr.sum()
batch_max_sen =  max(mon1.nobatch)
mon11 = sum_cnt_sen - batch_max_sen

########################################################
sabtu1 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-02  05:00:00.000' and '2019-03-02 13:30:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = sabtu1.cntr.sum()
batch_max_sen =  max(sabtu1.nobatch)

########################################################
selasa = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-05  05:00:00.000' and '2019-03-05 10:00:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = selasa.cntr.sum()
batch_max_sen =  max(selasa.nobatch)
batch_min_sen =  min(selasa.nobatch)
selasa1 = sum_cnt_sen - (batch_max_sen-batch_min_sen)
########################################################
selasa2 = pd.read_sql("SELECT *  FROM mlog_test where tgljam between '2019-03-05  13:30:00.000' and '2019-03-05 15:06:00.000' and namamesin = 'Conv-V' "
                    "order by tgljam desc",cnxn)
sum_cnt_sen = selasa2.cntr.sum()
batch_max_sen =  max(selasa2.nobatch)
batch_min_sen =  min(selasa2.nobatch)
selasa2x = sum_cnt_sen - batch_max_sen
selasa2x

0

In [112]:
selasa2

    namamesin                  tgljam         barcode  cntr  nobatch
0      Conv-V 2019-03-05 15:05:41.377         No Read     1     1013
1      Conv-V 2019-03-05 15:05:23.370  18998866610237     3     1013
2      Conv-V 2019-03-05 15:05:17.357  18998866604953     3     1013
3      Conv-V 2019-03-05 15:05:11.367  18998866608708     4     1013
4      Conv-V 2019-03-05 15:05:05.377  18998866607367     4     1013
5      Conv-V 2019-03-05 15:04:23.297  18998866610237     2      998
6      Conv-V 2019-03-05 15:04:17.277  18998866604953     2      998
7      Conv-V 2019-03-05 15:04:11.277  18998866608708     1      998
8      Conv-V 2019-03-05 15:04:05.767  18998866607367     2      998
9      Conv-V 2019-03-05 15:03:23.670  18998866610237     3      991
10     Conv-V 2019-03-05 15:03:17.670  18998866604953     3      991
11     Conv-V 2019-03-05 15:03:11.667  18998866608708     3      991
12     Conv-V 2019-03-05 15:03:05.597  18998866607367     7      991
13     Conv-V 2019-03-05 15:02:23.597  18998866610237     1      975
14     Conv-V 2019-03-05 15:02:11.567  18998866608708     1      975
15     Conv-V 2019-03-05 15:02:05.530  18998866607367     4      975
16     Conv-V 2019-03-05 15:01:23.557  18998866610237     3      969
17     Conv-V 2019-03-05 15:01:17.533  18998866604953     3      969
18     Conv-V 2019-03-05 15:01:11.497  18998866608708     3      969
19     Conv-V 2019-03-05 15:01:05.500  18998866607367     4      969
20     Conv-V 2019-03-05 15:00:41.460         No Read     1      956
21     Conv-V 2019-03-05 15:00:23.423  18998866610237     2      956
22     Conv-V 2019-03-05 15:00:17.417  18998866604953     2      956
23     Conv-V 2019-03-05 15:00:11.413  18998866608708     2      956
24     Conv-V 2019-03-05 15:00:05.413  18998866607367     4      956
25     Conv-V 2019-03-05 14:59:41.387         No Read     1      945
26     Conv-V 2019-03-05 14:59:23.397  18998866610237     2      945
27     Conv-V 2019-03-05 14:59:17.407  18998866604953     3      945
28     Conv-V 2019-03-05 14:59:11.400  18998866608708     2      945
29     Conv-V 2019-03-05 14:59:05.410  18998866607367     4      945
..        ...                     ...             ...   ...      ...
321    Conv-V 2019-03-05 13:41:23.710  18998866610237     1       91
322    Conv-V 2019-03-05 13:41:11.690  18998866608708     2       91
323    Conv-V 2019-03-05 13:41:05.207  18998866607367     6       91
324    Conv-V 2019-03-05 13:40:23.147  18998866610237     3       81
325    Conv-V 2019-03-05 13:40:11.137  18998866608708     2       81
326    Conv-V 2019-03-05 13:40:05.143  18998866607367     4       81
327    Conv-V 2019-03-05 13:39:23.543  18998866610237     2       72
328    Conv-V 2019-03-05 13:39:11.523  18998866608708     2       72
329    Conv-V 2019-03-05 13:39:05.530  18998866607367     6       72
330    Conv-V 2019-03-05 13:38:23.460  18998866610237     3       62
331    Conv-V 2019-03-05 13:38:11.453  18998866608708     3       62
332    Conv-V 2019-03-05 13:38:05.377  18998866607367     4       62
333    Conv-V 2019-03-05 13:37:23.353  18998866610237     1       52
334    Conv-V 2019-03-05 13:37:17.363  18998866604953     1       52
335    Conv-V 2019-03-05 13:37:11.360  18998866608708     4       52
336    Conv-V 2019-03-05 13:37:05.293  18998866607367     4       52
337    Conv-V 2019-03-05 13:36:17.300  18998866604953     2       42
338    Conv-V 2019-03-05 13:36:11.310  18998866608708     2       42
339    Conv-V 2019-03-05 13:36:05.313  18998866607367     3       42
340    Conv-V 2019-03-05 13:35:17.230  18998866604953     2       35
341    Conv-V 2019-03-05 13:35:11.200  18998866608708     2       35
342    Conv-V 2019-03-05 13:35:05.687  18998866607367     3       35
343    Conv-V 2019-03-05 13:34:17.657  18998866604953     2       28
344    Conv-V 2019-03-05 13:34:11.590  18998866608708     2       28
345    Conv-V 2019-03-05 13:34:05.603  18998866607367     7       28
346    Conv-V 2019-03-05 13:33:41.527         No Read     1       17
347    Conv-V 2019-03-05 13:33:11.540  18998866608708     4       17
348    Conv-V 2019-03-05 13:33:05.523  18998866607367     6       17
349    Conv-V 2019-03-05 13:32:05.487  18998866607367     5        6
350    Conv-V 2019-03-05 13:31:05.417  18998866607367     1        1

[351 rows x 5 columns]