In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'foo',
                    'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                    'two', 'two', 'one', 'three'],
                    'C' : ['25', '57', '65', '98',
                    '47', '68', '63', '85'],
                    'D' : np.random.randn(8)})

In [2]:
df

     A      B   C         D
0  foo    one  25 -1.255060
1  bar    one  57 -0.622090
2  foo    two  65  0.309880
3  foo  three  98 -0.226488
4  foo    two  47 -0.457193
5  bar    two  68  0.390408
6  foo    one  63 -0.025135
7  foo  three  85 -0.725787

In [3]:
gp=df.groupby(['A','C']).sum()
gpsum = gp.sum()
gpsum

D   -2.611465
dtype: float64

In [4]:
def get_let(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    esle:
        return 'consonant'

SyntaxError: invalid syntax (<ipython-input-4-2bce9569dade>, line 4)

In [ ]:
print("Hello")

In [ ]:
ccc =35e3
bbb = 3500

In [ ]:
if ccc == bbb :
    print("True")
else:
    print("False")

In [ ]:
a = 200
b = 303
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
a = "x Hello, World! x"
print(a.strip()) # returns "Hello, World!"