In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.plotly as py

In [2]:
import plotly.plotly as py
import plotly.figure_factory as ff
import pandas as pd

df = pd.read_csv("cbs.csv")
df.head()

,no_ip,no_seq,week_no,no_incident,cntr,insert_date,reason_down
0,172.20.35.99,3,24,1738,1,2018-11-06 23:45:38.463,0
1,172.20.35.99,3,24,1738,2,2018-11-06 23:45:44.490,0
2,172.20.35.99,3,24,1738,6,2018-11-06 23:49:58.443,22
3,172.20.35.99,3,24,1737,1,2018-11-06 23:16:35.370,0
4,172.20.35.99,3,24,1737,2,2018-11-06 23:16:37.697,0

In [3]:
arinda['jumlah']=df.groupby('no_incident').size()

NameError: name 'arinda' is not defined

In [ ]:
arinda.head()

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[0] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[2]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
x = thisdict["model"]
x

In [ ]:
a = 33
b = 33

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
p = 1
while p < 6:
  print(i)
   p += 1