In [8]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [9]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [41]:
temp = pd.read_sql("Select * from t_temp_monitoring "
    "where loc = 'Power House 4' and tgljam between '2021-02-01 06:00:00.000' and '2021-02-27 06:00:00.000'"
    "order by tgljam desc"
    , cnxn)
temp.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\PwrHouse4_February.xlsx', index = False)

In [20]:
def sampling_perjam (y):
    perjam = pd.read_sql("Select top "+y+ "  * from pm_permenit "
    "where loc = 'Power House 1' and tgljam between '2020-12-29 06:00:00.000' and '2021-01-05 10:00:00.000' "
    "order by tgljam desc"
    , cnxn)
    
    return perjam

In [39]:
temp

                       tgljam            loc         sensor  temperature
0     2021-02-27 05:52:32.817  Power House 2        Trafo 4      43.4375
1     2021-02-27 05:52:32.817  Power House 2        Trafo 3      45.0500
2     2021-02-27 05:52:32.817  Power House 2    Ruang Trafo      34.8250
3     2021-02-27 05:52:32.817  Power House 2  Ruang CapBank      30.2875
4     2021-02-27 05:52:32.817  Power House 2      Ruang MDP      33.2750
...                       ...            ...            ...          ...
33619 2021-02-01 06:02:07.587  Power House 2      Ruang MDP      31.9000
33620 2021-02-01 06:02:07.587  Power House 2          MDP 4      39.7625
33621 2021-02-01 06:02:07.587  Power House 2          MDP 3      35.7000
33622 2021-02-01 06:02:07.587  Power House 2       CapBank4      30.1375
33623 2021-02-01 06:02:07.587  Power House 2       CapBank3      30.0125

[33624 rows x 4 columns]