In [1]:
##Importing pyodbc module
import pandas as  pd
import pyodbc as odbc
import numpy as np

In [2]:
##connecting to your database through ODBC
cnxn = odbc.connect('DSN=203-serv;UID=sa;PWD=SASMU123', autocommit=True)
cursor = cnxn.cursor()

In [8]:
check = pd.read_sql ("select top 5000 * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.1' "
                     "or noip = '172.20.47.2'"
                     "or noip = '172.20.47.3'"
                     "or noip = '172.20.47.4'"
                     "or noip = '172.20.47.5'"
                     "or noip = '172.20.47.6'"
                     "or noip = '172.20.47.7'"
                     "or noip = '172.20.47.8'"
                     "or noip = '172.20.47.9'"
                     "or noip = '172.20.47.10'"
                     "or noip = '172.20.47.11'"
                     "or noip = '172.20.47.12'"
                     "or noip = '172.20.47.13'"
                     "or noip = '172.20.47.14'"
                     "or noip = '172.20.47.15'"
                     "or noip = '172.20.47.16'"
                     "or noip = '172.20.47.17'"
                     "or noip = '172.20.47.18'"
                     "or noip = '172.20.47.19'"
                     "or noip = '172.20.47.20'"
                     "or noip = '172.20.47.21'"
                     "or noip = '172.20.47.22'"
                     "or noip = '172.20.47.23'"
                     "or noip = '172.20.47.24'"
                     "or noip = '172.20.47.25'"
                     "or noip = '172.20.47.26'"
                     "or noip = '172.20.47.27'"
                     "or noip = '172.20.47.28'"
                     "or noip = '172.20.47.29'"
                     "or noip = '172.20.47.30'"
                     "or noip = '172.20.47.31'"
                     "or noip = '172.20.47.32'"
                     "or noip = '172.20.47.33'"
                     "or noip = '172.20.47.34'"
                     "or noip = '172.20.47.35'"
                     "or noip = '172.20.47.36'"
                     "or noip = '172.20.47.37'"
                     "or noip = '172.20.47.38'"
                     "or noip = '172.20.47.39'"
                     "or noip = '172.20.47.40'"
                     "or noip = '172.20.47.41'"
                     "or noip = '172.20.47.42'"
                     "or noip = '172.20.47.43'"
                     "or noip = '172.20.47.44'"
                     "or noip = '172.20.47.45'"
                     "or noip = '172.20.47.46'"
                     "or noip = '172.20.47.47'"
                     "or noip = '172.20.47.48'"
                     "or noip = '172.20.47.49'"
                     "or noip = '172.20.47.50'"
                     "or noip = '172.20.47.51'"
                     "or noip = '172.20.47.52'"
                     "or noip = '172.20.47.53'"
                     "or noip = '172.20.47.54'"
                     "or noip = '172.20.47.55'"
                     "or noip = '172.20.47.56'"
                     "or noip = '172.20.47.57'"
                     "or noip = '172.20.47.58'"
                     "or noip = '172.20.47.59'"
                     "or noip = '172.20.47.60'"
                     "or noip = '172.20.47.61'"
                     "or noip = '172.20.47.62'"
                     "or noip = '172.20.47.63'"
                     "or noip = '172.20.47.64'"
                     "or noip = '172.20.47.65'"
                     "or noip = '172.20.47.66'"
                     "or noip = '172.20.47.67'"
                     "or noip = '172.20.47.68'"
                     "or noip = '172.20.47.69'"
                     "or noip = '172.20.47.70'"
                     "or noip = '172.20.47.71'"
                     "or noip = '172.20.47.72'"
                     "or noip = '172.20.47.73'"
                     "or noip = '172.20.47.74'"
                     "or noip = '172.20.47.75'"
                     "or noip = '172.20.47.76'"
                     "or noip = '172.20.47.77'"
                     "or noip = '172.20.47.78'"
                     "or noip = '172.20.47.79'"
                     "or noip = '172.20.47.80'"
                     "or noip = '172.20.47.81'"
                     "or noip = '172.20.47.82'"
                     "or noip = '172.20.47.83'"
                     "or noip = '172.20.47.84'"
                     "or noip = '172.20.47.85'"
                     "or noip = '172.20.47.86'"
                     "or noip = '172.20.47.87'"
                     "or noip = '172.20.47.88'"
                     "or noip = '172.20.47.89'"
                     "or noip = '172.20.47.90'"
                     "or noip = '172.20.47.91'"
                     "or noip = '172.20.47.92'"
                     "or noip = '172.20.47.93'"
                     "or noip = '172.20.47.94'"
                     "or noip = '172.20.47.95'"
                     "or noip = '172.20.47.150'"
                     "or noip = '172.20.47.151'"
                     "or noip = '172.20.47.152'"
                     "or noip = '172.20.47.155'"
                     "or noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)

# check.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\pmcheck.xlsx', index = False)
check.kwh_totalizer.max()
check

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-08-20 06:01:58.603,None,MVMDP6,172.20.47.156,PM5560,11066.25000,8875.50000,2190.750000,3.178434e+06
1,2021-08-20 06:01:58.603,None,MVMDP5,172.20.47.155,PM5560,31403.00000,23332.50000,8070.500000,7.686617e+06
2,2021-08-20 06:01:58.603,None,MVMDP3&4,172.20.47.152,PM5560,36642.00000,26904.00000,9738.000000,1.285039e+07
3,2021-08-20 06:01:58.603,None,MVMDP2,172.20.47.151,PM5560,35757.00000,26909.00000,8848.000000,9.120011e+06
4,2021-08-20 06:01:58.603,None,MVMDP1,172.20.47.150,PM5560,29763.50000,22497.00000,7266.500000,6.535369e+06
...,...,...,...,...,...,...,...,...,...
4995,2021-07-01 06:00:54.320,MDP3,Las Kontraktor,172.20.47.80,PM1000,69.40796,62.88916,6.518799,3.558957e+03
4996,2021-07-01 06:00:54.320,MDP5,Kompresor Sabiz 3,172.20.47.78,PM1000,3280.25000,2462.43800,817.812500,6.942904e+05
4997,2021-07-01 06:00:54.320,MDP4,Kompresor Packing 2,172.20.47.36,PM1000,3239.31300,2436.31300,803.000000,2.732478e+05
4998,2021-07-01 06:00:54.320,MDP2,Kompresor Eks SLS,172.20.47.56,PM1000,1564.24200,1174.43000,389.812500,9.987256e+04
4999,2021-07-01 06:00:54.320,MDP1,Kompresor 7,172.20.47.52,PM1000,712.21880,534.78910,177.429700,9.575658e+04

In [99]:
check.head()
check.kwh_totalizer[1]

7261932.0

In [12]:
moffice = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.30'"
                     "order by tgljam desc"
                     , cnxn)
moffice

mv6 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.156'"
                     "order by tgljam desc"
                     , cnxn)
mv6


#moffice['cntprbs'] = moffice ['cntpr']
moffice['selisih'] = mv6 ['kwh_perhari'] - moffice ['kwh_perhari']
moffice


zbz3 = pd.read_sql ("select top 10 * from pm_perhari "
                     "where  "
                     " noip = '172.20.47.00'"
                     "order by tgljam desc"
                     , cnxn)
zbz3

mdp1 = pd.read_sql ("select top 100* from pm_perhari "
                     "where  "
                     " noip = '172.20.47.150_'"
                     "order by tgljam desc"
                     , cnxn)


#mdp1.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\mdp6.xlsx', index = False)

In [340]:
pd.set_option("display.max_columns", None )

# for iterasi in arange 100:



# 87
# 94
    

t ="'172.20.47.94'"
mdp1x = pd.read_sql ("select [tgljam],[noip],[kwh_perhari],[kwh_totalizer] from pm_perhari "
                     "where  "
                     " noip = "+t+" "
                     "and tgljam between '2021-08-01 00:01:11.540' and '2021-08-31 07:01:11.540'"
                     "order by tgljam desc"
                     , cnxn)
te = mdp1x.kwh_perhari.count()
i = 0 
flaw1 = mdp1x
bad_list1 = []
timdel1 = []
for i in range (te):
    if i < (te-1):
        calcu1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1] - flaw1.kwh_perhari[i]
        bad_list1.append (calcu1)        
        blist_frame1 = pd.DataFrame(data=bad_list1)
        
        tdel1 = flaw1.kwh_totalizer[i] - flaw1.kwh_totalizer[i+1]
        timdel1.append (tdel1)        
        timdel1_frame1 = pd.DataFrame(data=timdel1)
        
flaw1['selisih'] = abs(blist_frame1)
flaw1['harusnya']  = timdel1_frame1
show_result1 = flaw1[((flaw1['selisih'])>1)]
show_result1

,tgljam,noip,kwh_perhari,kwh_totalizer,selisih,harusnya
1,2021-08-19 06:01:26.240,172.20.47.94,999817.6,13661.96,999998.93,-181.33
2,2021-08-18 06:01:25.550,172.20.47.94,999996.4,13843.29,999999.02,-2.62
3,2021-08-17 06:01:24.877,172.20.47.94,999822.8,13845.91,999999.01,-176.21
4,2021-08-16 06:01:24.193,172.20.47.94,999998.1,14022.12,999999.00,-0.90

In [10]:
x = 0
for x in range (10):
#     " noip = "+t+" "
      print("172.20.47.")

TypeError: can only concatenate str (not "int") to str

In [344]:
# #Sample insert query
count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '0.90' "
                       "where tgljam = '2021-08-16 06:01:24.193' "
                       " and noip = "+t+"")
cnxn.commit()
print('Rows inserted: ' + str(count))

Rows inserted: <pyodbc.Cursor object at 0x0000027805FD0030>

In [62]:
#Sample select query
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Server 2008 R2 (SP1) - 10.50.2500.0 (X64)
	Jun 17 2011 00:54:03
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

In [345]:
pd.set_option("display.max_rows", None )
c11 = pd.read_sql ("select * from pm_perhari "
                     "where  "
                     "noip = '172.20.47.94'"
                     "and tgljam between '2021-08-01 00:01:11.540' and '2021-08-31 07:01:11.540'"
                     "order by tgljam desc"
                   
                     , cnxn)
# c11.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSCMaster\trial Lab\tex.xlsx', index = False)
c11

,tgljam,mdp,plant,noip,instr,kwh_perhari,kwh_lwbp,kwh_wbp,kwh_totalizer
0,2021-08-20 06:01:26.843,MDP1,Robot Cream,172.20.47.94,PM1000,221.537100,93.317380,128.219700,13883.490
1,2021-08-19 06:01:26.240,MDP1,Robot Cream,172.20.47.94,PM1000,181.330000,999864.700000,-47.062500,13661.960
2,2021-08-18 06:01:25.550,MDP1,Robot Cream,172.20.47.94,PM1000,2.620000,999996.400000,0.000000,13843.290
3,2021-08-17 06:01:24.877,MDP1,Robot Cream,172.20.47.94,PM1000,176.210000,999869.100000,-46.250000,13845.910
4,2021-08-16 06:01:24.193,MDP1,Robot Cream,172.20.47.94,PM1000,0.900000,999998.100000,0.000000,14022.120
5,2021-08-15 06:01:23.493,MDP1,Robot Cream,172.20.47.94,PM1000,319.835000,235.682600,84.152340,14023.020
6,2021-08-14 06:01:22.693,MDP1,Robot Cream,172.20.47.94,PM1000,480.877900,358.398400,122.479500,13703.190
7,2021-08-13 06:01:22.260,MDP1,Robot Cream,172.20.47.94,PM1000,478.199200,355.988300,122.210900,13222.310
8,2021-08-12 06:01:21.337,MDP1,Robot Cream,172.20.47.94,PM1000,22.958010,20.097660,2.860352,12744.110
9,2021-08-11 06:01:20.907,MDP1,Robot Cream,172.20.47.94,PM1000,493.191400,366.799800,126.391600,12721.150
10,2021-08-10 06:01:20.227,MDP1,Robot Cream,172.20.47.94,PM1000,456.083000,333.864300,122.218800,12227.960
11,2021-08-09 06:01:19.443,MDP1,Robot Cream,172.20.47.94,PM1000,0.325195,0.325195,0.000000,11771.880
12,2021-08-08 06:01:18.963,MDP1,Robot Cream,172.20.47.94,PM1000,319.529300,237.340800,82.188480,11771.550
13,2021-08-07 06:01:18.347,MDP1,Robot Cream,172.20.47.94,PM1000,338.599600,216.716800,121.882800,11452.020
14,2021-08-06 06:01:17.493,MDP1,Robot Cream,172.20.47.94,PM1000,368.904300,263.580100,105.324200,11113.420
15,2021-08-05 06:01:16.943,MDP1,Robot Cream,172.20.47.94,PM1000,482.556600,362.670900,119.885700,10744.520
16,2021-08-04 06:01:16.323,MDP1,Robot Cream,172.20.47.94,PM1000,469.603500,351.364300,118.239300,10261.960
17,2021-08-03 06:01:15.617,MDP1,Robot Cream,172.20.47.94,PM1000,464.940400,343.137700,121.802700,9792.358
18,2021-08-02 06:01:14.920,MDP1,Robot Cream,172.20.47.94,PM1000,3.727539,3.727539,0.000000,9327.418
19,2021-08-01 06:01:14.393,MDP1,Robot Cream,172.20.47.94,PM1000,295.840800,216.827100,79.013670,9323.690

In [8]:
c11.kwh_totalizer[1] - c11.kwh_totalizer[0]

-260.24199999999996

In [75]:
# count = cursor.execute("UPDATE pm_perhari SET kwh_perhari = '3850' "
#                        "where tgljam = '2021-07-02 06:00:55.093' "
#                        " and noip = '172.20.47.89'")
# cnxn.commit()
# print('Rows inserted: ' + str(count))


#mdp1x['hasil'] = mdp1x.kwh_totalizer[1] + mdp1x.kwh_perhari[0]
#mdp1x.to_excel(r'C:\Users\akaarinda\Documents\DataScience\DSC\trial Lab\tex.xlsx', index = False)

13
15
34
35
36
37
38
39
40
--
41
42
43
44
45
46
48
49
51
52
53
54
56
57
--
61
62
64
67
69
72
74
75
76
78
79
--
80
81
82
83
84
87
88
89
91
94

Rows inserted: <pyodbc.Cursor object at 0x000001F69F779930>